[2014-02-17 21:14] rlaurb opened #1 "MTBBarcodeScanner on iPad2"
On the iPad2 (i.e., the first iPad with a camera), -(AVCaptureDevice*)captureDevice throws an exception. It appears that the capture device respondsToSelector:@selector(setAutoFocusRangeRestriction:), BUT does so by throwing an exception because autoFocus is not supported.

The following code avoids the exception and does result in a valid barcode being retired:

[code]

[2014-02-18 00:24] #1 closed, assigned to mikebuss

[2014-02-21 15:26] ik2wxx opened #2 "scan barcodes from images in user library"
Can you please add the ability to scan barcodes from images in user library ?

[2014-06-23 01:04] #2 closed, assigned to nobody

[2014-07-02 11:23] jacksonpan opened #5 "i can't scanner the qrcode."
![236a8ab929274a530f4a8cf492984d4f](https://cloud.githubusercontent.com/assets/696493/3455088/4f5d270a-01db-11e4-9c48-0ecaa2422759.jpg)
hi, i can't scanner the qrcode.
can you fix it?
and tell me why?
thanks

[2014-07-04 14:47] #5 closed, assigned to nobody

[2014-10-29 15:58] mikebuss opened #11 "First time scanning permission bug"
When attempting to scan a barcode for the first time, the permission dialog pops up but `scanningIsAvailableAndAllowed` returns YES immediately, which allows `startScanningWithResultBlock` to be called.

I'd like to add a `requestCameraPermissionWithSuccess:(void (^)(BOOL success))successBlock` method so we can start scanning after permission has been granted.

![img_0057](https://cloud.githubuser

[2014-11-01 23:38] #11 closed, assigned to nobody

[2014-12-28 08:40] lfarah opened #14 "Getting 20 errors with the MTBBarcodeScanner class"
![screen shot 2014-12-28 at 12 39 48 am](https://cloud.githubusercontent.com/assets/6511079/5563468/170c534a-8e2a-11e4-8429-087e5e610535.png)

[2014-12-28 20:07] #14 closed, assigned to nobody

[2015-01-13 13:38] hdoria opened #15 "Can't read an interleaved 2 of 5 code"
I am using MTBBarcodeScanner for reading ITF barcodes, but it doesn't read correctly Brazilian Bills with 47 digits.

A sample PDF (for printing) is available here (https://drive.google.com/file/d/0ByQMtFUGwDRBWnZObkFBcDR1RVk/edit?usp=sharing) . The barcode sequence number is on the top of the bill (a long sequence of numbers separeted by point and space).

[2015-01-15 00:04] mikebuss commented on #15
Hey @hdoria - thanks for bringing this to my attention. I just added support for this in 87692b3, and will release a new pod version later tonight.

Testing it with your barcode seems to work, but let me know if you encounter any issues with version 1.3.0.

![img_4214](https://cloud.githubusercontent.com/assets/1574304/5750250/0f36601c-9c20-11e4-9b49-9bc0589589cf.PNG)

[2015-01-15 00:15] #15 closed

[2015-01-15 21:22] hdoria commented on #15
Awesome! Thank you.

[2015-01-20 12:15] hdoria opened #16 "Problem to read some codes"
MTBBarcodeScanner is awesome and works fine for some barcodes. However, I'm having trouble reading some barcodes from Brazilian banks. I can read these codes using other libraries. I'm using the MTBBarcodeScanner sample project to read the following codes:

![screenshot 2015-01-20 09 10 01](https://cloud.githubusercontent.com/assets/73786/5816911/b037d7d0-a084-11e4-8994-5b1603a3139e.png)

![screen

[2015-01-20 16:52] mikebuss commented on #16
Sorry to hear you're having issues.

I'm thinking that since ITF and ITF14 codes were just [added](https://developer.apple.com/library/prerelease/ios/documentation/AVFoundation/Reference/AVMetadataMachineReadableCodeObject_Class/index.html#//apple_ref/doc/constant_group/Machine_Readable_Object_Types) to AVFoundation in iOS 8 that there are still some bugs with scanning them. It looks like [some pe

[2015-01-20 16:53] mikebuss commented on #16
Going to close this for now. If I hear more from Apple I'll report back!

[2015-01-20 16:53] #16 closed

[2015-02-09 23:21] mikebuss commented on #14
@lfarah I believe I found the solution to this. If you haven't already, you need to add the following import statement to MTBBarcodeScanner.m, or copy in the latest version from the `develop` branch:

`#import <UIKit/UIKit.h>`

[2015-03-04 09:11] sumitjain7 opened #18 "Use library in swift"
How Would I use this library in swift?

[2015-03-13 21:47] coala2000 opened #19 "Unable to Build the Example Project"
Hi, I am unable to build the example project. I am getting this error:
[code]

Here is a screenshot of the error:
![screen shot 2015-03-13 at 4 43 27 pm](https://cloud.githubusercontent.com/assets/4240128/6647780/187cd11c-c9a0-11e4-8d62-170dd947ba5e.png)

I just downloaded the zip of the current GitHub code and tried to build and run the example project. I tried installing cocoapods and running th

[2015-03-14 23:07] haydenzone commented on #19
Having the same issue

[2015-03-14 23:34] mikebuss commented on #19
@coala2000 and @haydenzone, can you try again with the latest change I just pushed?

It looks like the test target had a few CocoaPods-related build phases, even though the sample project doesn't require CocoaPods. Something changed with Xcode 6.2 that made these pop up even when you're not building the test target. I removed them, and it looks OK now. Please let me know if you're still encounteri

[2015-03-14 23:43] mikebuss commented on #18
Hey @sumitjain7 - I don't have any Swift examples in the example project right now, but here's a quick sample that compiles.

I will add a Swift example to the official example as soon as I can.

[code]

[2015-03-14 23:44] mikebuss commented on #18
Closing this for now. If you have any trouble, please feel free to contact me [directly](mailto:mike@mikebuss.com) so we can keep the issue system only for issues.

[2015-03-14 23:44] #18 closed

[2015-03-15 21:25] coala2000 commented on #19
Thanks for all the help, that seems to have fixed my error.

[2015-03-15 21:25] #19 closed

[2015-04-28 18:22] adamgall opened #22 "Cannot recognize Data Matrix codes when using the front camera"
Data Matrix codes are not recognized when using the front camera. They are, however, recognized if the Data Matrix code is inverted (either using an image manipulation program such as Photoshop, OR when the code is read through a mirror... which took some dexterity to pull off). I suspect this is due to some image-flipping closer to the hardware, and the fact that Data Matrix codes have an orienta

[2015-04-28 19:18] adamgall commented on #22
After looking through this library's source, it seems apparent that the bug is with Apple's AVCaptureMetadataOutput implementation. I'll close this. Thanks for your easy to use library!

[2015-04-28 19:18] #22 closed

[2015-04-28 19:43] mikebuss commented on #22
Thanks for bringing this to my attention. If anything changes with `AVCaptureMetadataOutput` I'll be sure to incorporate the fix into this library as well.

P.S. I've worked with DXY Solutions before - keep up the great work!

[2015-04-29 23:04] guizmo opened #23 "help"
Hi Mike,
I don't know much about objectiv C but i work a lot with cordova and i wanted to ask if you had an idea on how to port your scanner to cordova.... I tried but i failed like a noob ;)

[2015-04-29 23:29] mikebuss commented on #23
Hey @guizmo - sorry, I don't have any experience with Cordova and can't be much help here.

You may try this library:
https://github.com/xocialize/XocializeScanner/

Best of luck!

[2015-04-29 23:29] #23 closed

[2015-05-28 13:52] sebastianludwig opened #25 "Focus issue"
I've got an app that uses `MTBBarcodeScanner` and an `UIImagePickerController` and ran into a few auto focus issues. Please see my [focus_bug_demo branch](https://github.com/sebastianludwig/MTBBarcodeScanner/tree/focus_bug_demo) for an illustration.

For all cases you need to restart the app to reproduce the effects.

1. Opening the barcode scanner first, the camera focuses on near and far objects

[2015-05-28 14:26] mikebuss commented on #25
Thanks for bringing this to my attention. That's a really odd bug.

We can definitely do this. Have you found this fixes the issue? Would you mind testing this on your branch, and maybe submitting a pull request with the one-line change? If you don't have time, let me know and I can try later this week.

If we made this change, how would the library handle crashing while scanning? Would the `autoF

[2015-05-29 00:44] dhint4 opened #27 "When reading VIN barcodes, an extra letter is added to the beginning"
First off, great library!

The problem I am having is that when I read VIN barcodes from vehicles that are not in the QR format, it wants to throw a `l` in front of each vin at the very beginning. Everything after that is read in correctly but I'm not sure why it is throwing that `l` in at the beginning.

Here is a sample that it does it on:
![68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f

[2015-05-29 00:58] mikebuss commented on #27
Hey @dhint4. I did some research, and it looks like the leading `I` character stands for "import". I think you posted a capital L, but I believe it's actually a capital i. At least that's what I found after digging.

From a [VIN-scanner manufacturers](http://www.barcodehq.com/vinbarcode.html) website:

There's also a [SourceForge thread](http://sourceforge.net/p/zbar/discussion/1072195/thread/ef2a

[2015-05-29 00:58] #27 closed

[2015-05-29 01:39] dhint4 commented on #27
Thanks for such a quick response and your input!

Keep up the great work! :+1:

[2015-06-01 10:41] sebastianludwig commented on #25
Nope, not fixed.

The `currentCaptureDeviceInput` reference is only set in `setCamera` which is not called during the initial setup through `newSessionWithCaptureDevice`. The other way round the focus range and focus point are not set then switching cameras because that code is only in `newCaptureDeviceWithCamera` and not in `setCamera`. That's why I had the `setDeviceInput:session:` in my PR to d

[2015-06-01 14:16] mikebuss commented on #25
Good catch. I just pushed a change under version 1.6.1 that should be a lot closer to your initial implementation. Can you give this a try and let me know if this fixes the issue?

Sorry for the back and forth. I'm having a hard time reproducing on my iPhone 6+ or iPad Air (1 and 2).

[2015-06-01 15:41] sebastianludwig commented on #25
Again, I already left work so I'm without test devices, but I had a co-worker test it and he confirmed your fix :+1:

[2015-06-01 15:42] mikebuss commented on #25
Great - thanks for all the help!

[2015-06-01 15:42] #25 closed

[2015-07-11 02:07] winzig opened #28 "Weird issue with wrong orientation at startup"
For some reason, the scanner's video view does not completely fill the layer that I supply, there's about a centimeter (on my iPhone 6) on one edge of the screen that's just black. When I debug it, though, my view is definitely filling the entire screen. But for some reason, the video layer isn't.

At the same time, the orientation of the video itself is wrong (and sort of looks zoomed in). So if

[2015-07-11 02:07] winzig commented on #28
Oh, forgot the other part of this. Once I re-orient the device at all, the video preview layer fixes itself: video is oriented the right way, and the black area goes away!

[2015-07-11 16:56] mikebuss commented on #28
Hey @winzig - can you share what version of iOS you're using? Are you able to reproduce this issue using the demo project on your phone?

If you have a demo project you could send my way, or if you could modify the MTBBarcodeScanner demo project to produce the same results, that would help.

I haven't seen this on my end yet, but I'll continue trying to reproduce.

[2015-07-11 23:39] winzig commented on #28
Hi @mikebuss, thanks for responding. I thought for sure this was going to be a weird thing specific to my implementation, but luckily I was able to create a simple demo showing the problem. I'm running this on an iPhone 6. In this demo, I simplified it by not forcing the barcode scanner view to be landscape mode, so the behavior is slightly different than described above, but the same basic proble

[2015-07-12 13:51] franklingu opened #29 "[Question]the preview property must be camera preview or it is merely a view of camera, which is managed by the library?"

[2015-07-12 14:03] franklingu commented on #29
well this is a yes. can just close this one

[2015-07-12 14:03] #29 closed

[2015-07-12 14:03] franklingu opened #30 "[Qustion]is it possible to freeze the view once the qrcode reading is successful?"

[2015-07-12 14:31] mikebuss commented on #28
Thanks for providing the demo project - that was super helpful in debugging this.

I believe the issue is related to how the view is drawn on the screen. It looks like the `previewView` isn't drawn properly if the MTBBarcodeScanner starts scanning in `viewDidLoad`. On my device, if you wait a few seconds for the view to redraw, the bar eliminates itself, but what we really want is for the bar neve

[2015-07-12 14:38] mikebuss commented on #28
Forgot to address this. MTBBarcodeScanner sets the camera focal point of interest to be the center of the image, so you'll see a little zooming. The library doesn't currently support a way to set the [videoZoomFactor](https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVCaptureDevice_Class/#//apple_ref/occ/instp/AVCaptureDevice/videoZoomFactor) property on the AVCaptureDe

[2015-07-12 14:41] mikebuss commented on #30
There's no way to do this using MTBBarcodeScanner alone.

I would suggest taking a screenshot using [UIGraphicsGetImageFromCurrentContext](http://stackoverflow.com/questions/7915370/ios-how-to-capture-a-particular-portion-of-screen), put the resulting UIImage in a UIImageView beneath the `previewView`, stop the scanner, and then remove the `previewView` from it's superview. This will make the came

[2015-07-12 21:53] winzig commented on #28
This fixed the issue, thanks!

[2015-07-12 21:53] #28 closed

[2015-07-22 23:16] #30 closed

[2015-08-06 13:19] mangochot opened #32 "MTBBarcodescanner and iPhone 6"
Hi Mike,

I'm using your scanner in one of my apps, and it is working great for iphone 4s and 5. However, many users of the app are complaining about it not working well on iphone 6. I have tried it on iPhone 6, and my experience is that sometimes it works fine, and sometimes it does not react to the barcode at all.

Do you recognize the problem?
Do you have any recommended fixes or things I might

[2015-08-06 14:20] mikebuss commented on #32
Hey Kasper - MTBBarcodeScanner is built on top of Apple's AVFoundation, so it should work with all devices.

Are you scanning with the front or back camera? In some cases, the front camera has too low of a resolution to scan the barcode accurately. This is usually on iPads, though.

You may try dropping down a level and implementing the AVFoundation scanning directly. The [MTBBarcodeScanner.m](htt

[2015-08-06 16:07] mangochot commented on #32
I have now tried something that seems too simple but does work. Could it really be that the solution is to place the barcode a bit below the center of the iphone's screen? I thought the iphone could scan the barcode no matter where it was placed on the camera view.

[2015-08-06 16:14] mikebuss commented on #32
Yes it should work anywhere on the screen. You may try using AVFoundation directly and seeing if the problem persists. Or tweaking the settings in your local copy of MTBBarcodeScanner.m

[2015-08-12 17:58] mikebuss commented on #32
I was able to try this on a few iPhone 6's and haven't seen the issue. If you have a way to reproduce this, please let me know and I will reopen!

[2015-08-12 17:58] #32 closed

[2015-08-31 21:24] chazsmi opened #33 "Scanner cant be reloaded after stopScanner is called"
Hi Mike,

I'm calling stopScanner on viewWillDisappear then running startScanningWithResultBlock in viewWillAppear. It works fine before I call stopScanner, but as soon as thats been called startScanningWithResultBlock doesnt work anymore.

Cheers

Charlie

[2015-08-31 21:49] mikebuss commented on #33
Hey @chazsmi - can you try calling `startScanningWithResultBlock` in `viewDidAppear` instead of `viewWillAppear`? I've seen this work in the past with Apple's AVFoundation sample project.

If that's unacceptable for your project for some reason, I would try using the raw AVFoundation classes and narrow down if the issue exists there or in MTBBarcodeScanner. I'm happy to help with this if you can w

[2015-09-01 20:39] chazsmi commented on #33
Hi @mikebuss, thanks for your quick reply.  Tried viewDidAppear and the preview didnt load at all. Any help you can give would be great. Thanks again

[2015-09-01 23:04] mikebuss commented on #33
I modified the sample project to start/stop scanning in viewDidAppear and viewWillDissappear respectively and linked it below. Can you let me know what your project is doing differently than this one? This seems to work on my end.

https://dl.dropboxusercontent.com/u/1462749/MTBBarcodeScanner-9-1-2015.zip

[2015-09-02 12:00] jaybowong opened #37 "- (BOOL) hasTorch;"
[code]
I think it's necessary to add this method.
Or make the current capture device a readonly property.

A torch toggle button should not be shown on an iPad and this method is needed to hide the torch toggle button.

[2015-09-02 21:09] felipowsky commented on #37
Good call! I've created a [pull request](https://github.com/mikebuss/MTBBarcodeScanner/pull/40) for this.

[2015-09-02 21:50] #37 closed

[2015-09-02 21:53] mikebuss commented on #37
Added by @felipowsky [here](https://github.com/mikebuss/MTBBarcodeScanner/pull/40). Thanks for the awesome work guys!

One caveat: `hasTorch` will currently only work when MTBBarcodeScanner is scanning. Please let me know if this is an issue and we can readjust.

[2015-09-02 22:08] mikebuss commented on #30
Hey @franklingu - support for this has now been added to the library thanks to @felipowsky. The scanner object now has `freezeCapture` and `unfreezeCapture` methods. Hope this helps!

[2015-09-03 11:20] popei69 opened #42 "Switch Camera permission in Settings makes crash the app"
When I try to use the example code with basic view controller and I switch Camera permission in Settings app, it makes crash the app.

[2015-09-03 13:49] mikebuss commented on #42
When you deny access to the Camera in the Settings app to an app, iOS will force-close the app. This is expected. If you relaunch the app, you should see the following alert if access is denied:

![img_3091](https://cloud.githubusercontent.com/assets/1574304/9659929/0932b97e-5221-11e5-8919-779b46e09fde.PNG)

[2015-09-03 13:49] #42 closed

[2015-09-03 14:57] popei69 commented on #42
Thanks for this quick answer. Yes I also noticed that it crashes when switching to accepting after denied it.
I was wondering if there is any chance to avoid crash / kill the app on that.

Thanks,

[2015-09-03 15:00] mikebuss commented on #42
Unfortunately I don't think there's a way around this, as it's done at the OS level. Sorry!

[2015-09-06 15:48] mikebuss commented on #33
I'm going to close this for now as it seems to be working in the demo project I linked. If you encounter this issue, please try to replicate it in the project above and I'll be happy to take a look!

[2015-09-06 15:48] #33 closed

[2015-09-13 20:50] chazsmi commented on #33
Hi Mike,

Sorry I'v been slow to reply. Only got back to this today, a little bit stumped ive looked at your code and tried to make my methods implement the scanner in the same way. Here is my code:

[code]
and here is my startScanning method

[code]
Thanks for your help

[2015-09-13 21:23] mikebuss commented on #33
That code looks fine to me. Can you try doing an `NSAssert(self.scanner)` at the top of `startScanning` to make sure the scanner isn't nil when you come back to the view? I don't see the code where `self.scanner` is created, so that's my first guess.

MTBBarcodeScanner will assert that a camera is present and scanning is permitted when you call `startScanningWithResultBlock:`, so there aren't real

[2015-09-15 20:31] chazsmi commented on #33
Hi Mike,

Here is the console after NSLogging the self.scanner and the UIView after loading the view for the first time then going away and back again:

[code]

and heres the whole file:

[code]

[2015-09-15 20:38] mikebuss commented on #33
@chazsmi can you create a small project to illustrate the issue you're having? If you can send that my way, I can take a closer look.

The code you mentioned doesn't seem to produce the output you linked. It's outputting:

[code]

But the only line that outputs the scanner, like so:

[code]

Is currently commented out:

[code]

So I'll need some sort of project to work with. If you want to start w

[2015-09-15 20:39] mikebuss commented on #33
Also it looks like the frame of the UIView changes from one log statement to the next. In the second one, the height is 0:

[code]

[2015-09-18 09:27] jaybowong opened #43 "Get notified when camera starts scanning."
![2](https://cloud.githubusercontent.com/assets/1948533/9955720/de7642e4-5e25-11e5-91a6-85c441d2139b.png)
---
`startScanningWithResultBlock` takes a while to get camera ready to use especially when it comes to a full screen preview view. I want to show a preparing indicator UIActivityIndicatorView before call `startScanningWithResultBlock` and get notified when the camera is ready and shown to use

[2015-09-18 14:37] reinholdB opened #44 "Interface Orientation Issue"
I have an old app which is not using auto layout. I would like to have a preview view covering the whole screen. It works fine on iPhones, but it doesn't work on an iPad after changing the rotation once (initially the whole screen is covered).

If I don't pass the preview view to MTBBarscodeScanner's initializer the view always covers the whole screen.

![screen shot 2015-09-18 at 16 33 03](https:

[2015-09-18 14:55] reinholdB commented on #44
actually the view is rotating correctly, but AVCaptureVideoPreviewLayer isn't

[2015-09-18 19:39] mikebuss commented on #43
Sounds like a great idea! If you have some time to add this, please feel free. If not, I may be able to spend some time next weekend on this feature.

[2015-09-18 20:13] #44 closed

[2015-09-18 20:14] mikebuss commented on #44
Thanks for bringing this to my attention @reinholdB. I just released version 1.8.2, which exposes a `previewLayer` property pointing at the layer responsible for drawing the camera input. Can you try adjusting this manually when you detect a device rotation?

If there's anything else I can add that would help, please let me know.

[2015-09-18 20:40] #43 closed

[2015-09-18 20:42] mikebuss commented on #43
@jaybowong I found some time to implement this. This should be in 1.8.3, which I just released.

Please let me know if there are any other changes I could make that will be useful. Thank you!

[2015-09-18 20:43] mikebuss commented on #43
For reference, this was the exact change I made. It fits your suggestion: https://github.com/mikebuss/MTBBarcodeScanner/commit/0bd3f4c71c32ee5d3a6ce55a72e5f0fea07766c2

[2015-09-19 02:41] jaybowong commented on #43
@mikebuss You're so fast! I'm so happy that I just wake up and saw this.
I didn't send a pull request first because I think it's better to discuss first for this one.

Awesome! 👍

[2015-09-21 09:45] reinholdB commented on #44
Thanks Mike for the quick reaction.

This definitely helps but it's not enough to expose a CALayer because I need to access layer.connection.videoOrientation (reference: http://stackoverflow.com/a/30394124/512130)

[2015-09-21 12:39] mikebuss commented on #44
Sorry @reinholdB I may have misunderstood your original comment. The video orientation is automatically rotated by MTBBarcodeScanner whether the view is using auto layout or struts and sprints, so that shouldn't be an issue. Note that when I say rotated, I mean everything the camera sees as upright will always appear upright on the screen - if the view was originally 300x600, it will still be 300x

[2015-09-23 05:51] okipol88 opened #46 "Scanner does not scan unless the scanRect is set explicitly (iOS 9 13A344)"
Hi,

The Scanner has beeen working marvelousely for me.
Unfortunately on iOS 9 if you don't set the `scanRect` property it fails to deliver scan results.

This is easily reproducable in the basic example. It simply does not scan. The advanced example on the other hand scans without a flaw. When i set the `scanRect` in the basic example it starts working again.

[2015-09-23 12:06] peterpaulis commented on #46
+1

[2015-09-23 12:20] #46 closed

[2015-09-23 12:21] mikebuss commented on #46
Looks like this is a bug that slipped in with version 1.8.4. Sorry about that. Can you guys try version 1.8.5 on iOS 9 and see if the issue persists?

[2015-09-23 12:42] peterpaulis commented on #46
Thanks, looks ok now

[2015-09-24 00:44] nickw444 opened #47 "Add 'tap to focus' functionality"
Since there is no ability to access the internals of the scanner (AVCaptureSession, AVCaptureDevice), it is technically impossible to extend the library to add tap to focus.

Is there any scope for getters and setters for the AVCaptureSession and AVCaptureDevice to be made public?

Cheers

[2015-09-24 14:24] mikebuss commented on #47
Hey @nickw444, thanks for the suggestion. I can definitely add tap-to-focus functionality to MTBBarcodeScanner, but I don't have any plans to expose the capture session or device.

I'm hoping to keep the library as easy to use as possible, which means abstracting some of these details away from the user and exposing easier interfaces. For example with the torch functionality, we almost chose to ex

[2015-09-25 05:31] nickw444 commented on #47
Hey @mikebuss that's a fair reason for hiding the internals. Simple is better!

Implementing touch to focus similar to how the torch is implemented is a great way to go about it - no need for the user to rely on their own implementation. I like it!

I can only see a single issue with this - user feedback. It would be nice to show the user where they touched, and, not every app will do this the sam

[2015-09-25 05:41] nickw444 opened #48 "DataMatrix not identified next to edges when using scanRect"
There seems to be a slight issue with DataMatrix codes and using a scanRect.

Steps to reproduce:
 - Open advanced demo
 - Place scanner over DataMatrix code. Align code on the right (or left) side of the scan rect.
 - No code detected - Expected result: code detected
 - Slowly move device to align code to the centre of the scan rect. Code is detected.
 - Slowly move device to align code back to t

[2015-09-25 14:18] mikebuss commented on #47
Yes that sounds great.

[2015-09-26 21:54] mikebuss commented on #48
MTBBarcodeScanner doesn't make a distinction between a QR code scanRect and a DataMatrix scanRect, so I'm pretty sure this is an issue with AVFoundation. You may want to create a sample project with straight AVFoundation code and send it to Apple in a [radar](https://developer.apple.com/bug-reporting/). If you find that the pure AVFoundation sample project doesn't have this issue, please let me kn

[2015-09-26 21:54] #48 closed

[2015-09-29 22:02] mojtabacazi opened #49 "iOS 9"
Nothing happens after calling  `startScanningWithResultBlock:` on iOS9.

[2015-09-29 22:33] mikebuss commented on #49
MTBBarcodeScanner has been tested on iOS 9 on iPhone and iPad. Please try using the demo project, as it's guaranteed to be setup correctly. If you are experiencing issues in your project, please provide a zip file or code I can help with.

![img_3447](https://cloud.githubusercontent.com/assets/1574304/10180091/664702e8-66d8-11e5-95f1-9df7d8e3c342.PNG)

[2015-09-29 22:33] #49 closed

[2015-10-01 20:20] peterpaulis opened #50 "Add "recognize from picture" functionality"
We have a large QR, which is quite problematic to recognise with using video, however, from a single photo it could be recognised better

there could be a functionality for taking a picture and than analysing it

[2015-10-01 20:36] peterpaulis commented on #50
<code>
I have captured image while scanning QRCode like this:

1) Firstly add property of AVCaptureStillImageOutput's

@property (strong, nonatomic) AVCaptureStillImageOutput *stillImageOutput;
2) Add session preset in AVCaptureSession after initializing it

[self.session setSessionPreset:AVCaptureSessionPreset640x480];
3) Now add AVCaptureStillImageOutput's as output in AVCaptureSession

// Prepa

[2015-10-01 20:36] peterpaulis commented on #50
http://stackoverflow.com/questions/20782584/avfoundation-avcapturemetadataoutput-capturing-screenshoot

[2015-10-01 21:21] peterpaulis commented on #50
i have been able to achieve this, however i had use zbar, maybe a function, for taking a photo with a block callback would be sufficient

[2015-10-02 15:20] mikebuss commented on #50
I like this idea, but I'm hoping to avoid adding ZBar as a dependency to MTBBarcodeScanner just for this feature. If we can find a way to do this with AVFoundation, I think that's our best bet for keeping the library lightweight and bug-free.

In the meantime you may have to use ZBar in combination with MTBBarcodeScanner to accomplish this. At least until the feature is added to AVFoundation.

[2015-10-02 15:29] peterpaulis commented on #50
i have been playing with

<code>
        CIDetector* detector = [CIDetector detectorOfType:CIDetectorTypeQRCode context:nil options:@{CIDetectorAccuracy:CIDetectorAccuracyHigh}];
        if (detector)
        {

            NSArray* featuresR = [detector featuresInImage:scannedImg.CIImage];
            NSString* decodeR;
            for (CIQRCodeFeature* featureR in featuresR)
            {

[2015-10-02 15:35] mikebuss commented on #50
That could work. I'll take a look at that API and see if there's something I can do. Thanks for the info!

[2015-10-08 15:49] Vortec4800 opened #52 "Take photo of current video feed"
In my particular use-case, I'd like to capture and save a photo of the scanned barcode. My plan was to freeze the feed, save the photo and then unfreeze the feed again.

I can do this with a screenshot, but I'd rather save the actual photo from AVFoundation. If I create a pull request that does this and expose it via a single captureFrame method, is that something you would want to merge into the

[2015-10-08 16:05] mikebuss commented on #52
Hey @Vortec4800 - this sounds like a great feature. If you have the time to implement it, I'd be happy to merge it in.

When developing this, keep in mind a new feature was added a few hours ago by @peterpaulis allowing the user to capture still frames from the camera feed: https://github.com/mikebuss/MTBBarcodeScanner/pull/51

It sounds like you just want to capture the barcode itself, so this ma

[2015-10-08 16:08] Vortec4800 commented on #52
Interesting - actually #51 is exactly what I was looking for. I'm using the Cocoapod and didn't see it in the header file so I had assumed this wasn't implemented.

My preference is to capture the entire frame instead of only the barcode, so the user has context later on when viewing it again. If I do decide to only capture the barcode itself then I will return and re-evaluate.

[2015-10-08 16:08] #52 closed

[2015-10-08 16:10] mikebuss commented on #52
Gotcha - sounds good. I may end up implementing this anyway in the next few weeks. If I do, I'll update this ticket.

Because the feature was only merged in a few hours ago, I haven't pushed a new version yet. Since it sounds like you need it, I'll push that in the next few minutes. Thanks!

[2015-10-08 16:14] Vortec4800 commented on #52
That sounds great. Thank you!

[2015-10-08 16:31] mikebuss commented on #52
@Vortec4800 this should now be in 1.8.6. Happy scanning!

[2015-10-16 16:51] peterpaulis opened #53 "setScanRect, scanning stops working after orientation change"
I'am setting the scanRect, but after orientation change and setting it again with the adjusted coordinates, the scanning stops working

[2015-10-16 18:13] mikebuss commented on #53
Thanks for bringing this to my attention. I was able to reproduce this on my end and implement a fix in version 1.8.7, which is now pushed.

With the new changes, you should be able to update the `scanRect` when the orientation changes similar to the [new code in the example project](https://github.com/mikebuss/MTBBarcodeScanner/commit/b57bb1402a8ae2b9b2202507e43739407da48d08). Please let me know

[2015-10-16 18:13] #53 closed

[2015-10-19 20:09] winzig opened #54 "Light (torch) flickers when turning on using torchMode"
If I set torchMode to MTBTorchMode.On before I start scanning, the light turns on briefly, then turns off, then turns back on (i.e. it flickers as it comes on).

If I instead put it in a code block that is delayed by 100 ms so that the code runs AFTER the scanning has started, then it does not flicker on, it just comes on solid (albeit delayed slightly).

I'm assuming this may be related to this P

[2015-10-19 21:03] mikebuss commented on #54
Thanks for bringing this to my attention. I was able to replicate this on my end as well.

This looks to be an issue with AVFoundation - I can't seem to start scanning without flickering the torch if it was already on. I was however able to update the library to allow you to set the torchMode to ON *after* you start scanning. So, the following code will now avoid the flicker without using a delay:

[2015-10-19 21:03] #54 closed

[2015-10-19 21:35] winzig commented on #54
Awesome, thanks @mikebuss, works great!

[2015-10-20 10:27] jaybowong commented on #47
Want this feature so much!

[2015-10-26 11:18] ztepsa opened #55 "Crash on iOS7"
MTBBarcodeScanner.m
`self.stillImageOutput.highResolutionStillImageOutputEnabled = YES;`
should be
`        if ([self.stillImageOutput respondsToSelector:@selector(isHighResolutionStillImageOutputEnabled)]) {
            self.stillImageOutput.highResolutionStillImageOutputEnabled = YES;
        }`

[2015-10-26 13:36] mikebuss commented on #55
Thank you for bringing this to my attention. This should now be fixed in version 1.8.9.

Please let me know if you encounter any other issues on iOS 7 - unfortunately I only have iOS 8 and 9 devices to test with at the moment.

[2015-10-27 03:56] winzig opened #56 "Are white-on-black 2D barcodes supposed to be recognized?"
We're scanning VIN barcodes, both 1D and 2D, so I set the MTBBarcodeScanner to scan for types: AVMetadataObjectTypeCode39Code, AVMetadataObjectTypeCode128Code, AVMetadataObjectTypeDataMatrixCode.

In my testing, it doesn't seem like white-on-black 2D barcodes are supported currently, though 1D barcodes seem to work well either black-on-white or white-on-black.

Is this expected behavior? The only

[2015-10-27 23:33] #55 closed

[2015-10-27 23:41] mikebuss commented on #56
I haven't encountered this before, unfortunately. One thing you might try is dropping down to using AVFoundation directly (there are a few examples on the web, I believe) and seeing if the issue still exists. If it does, you might file a radar so Apple can take a look.

It's a solid bet if it doesn't work in MTBBarcodeScanner it won't work in AVFoundation because it's just a thin wrapper, but I'm

[2015-10-29 16:42] mikebuss commented on #56
I'm going to close this, since it doesn't seem to be specific to MTBBarcodeScanner. Please let me know if you're able to get around this issue using AVFoundation directly, and I will bake it into the library.

[2015-10-29 16:42] #56 closed

[2015-11-09 08:30] youandme12399 commented on #49
Hi mikebuss!
When i run startScan, app crash.
This is info bug :
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Scanning is prohibited on this device.              Check requestCameraPermissionWithSuccess: method before calling startScanningWithResultBlock:'
*** First throw call stack:
(0x25ab786b 0x371b6dff 0x25ab7741 0x268472ab 0x7263d 0x196761 0x1963f9 0x

[2015-11-09 14:38] mikebuss commented on #49
Hi @youandme12399 - this error is saving you need to check the `requestCameraPermissionWithSuccess:` method before calling `startScanningWithResultBlock:`. It appears your device has not given permission to your app to access the camera. You can change this in the Settings app.

[2015-11-10 06:45] youandme12399 commented on #49
thanks for support :)

[2015-11-21 08:41] jaybowong opened #58 "CRASH. highResolutionStillImageOutputEnabled crash on iOS 7"
Crash in `MTBBarcodeScanner.m` at the line below.
[code]

`highResolutionStillImageOutputEnabled` can only be used on iOS 8 or later.

[code]
Maybe the code above can solve it. But I'm not sure if there's some other issues.

[2015-11-21 08:45] jaybowong commented on #58
Sorry. Haven't updated to the latest.

[2015-11-21 09:00] #58 closed

[2015-12-13 06:41] hamedcom opened #59 "Swift"
Hello ,,,

when i try to run the following code :

var scanner: MTBBarcodeScanner
scanner = MTBBarcodeScanner.init(previewView: view_camera)
scanner.didStartScanningBlock = {() -> Void in
  print("Start Scanning");
}
scanner.resultBlock = { ( codes:[AnyObject]!) -> Void in
  print("Found Code")
}
scanner.startScanning();

Just "Start Scanning" printed and no barcode founded in codes , else i tried

[2015-12-13 07:08] hamedcom commented on #59
Sorry ,
It is look i must move the definition of the scanner to out of method.

[2015-12-13 07:08] #59 closed

[2015-12-31 15:51] kiwox opened #60 "FIX for highResolutionStillImageOutputEnabled not supported in iOS 7"
I'm using MTBarcode for a Swift project that requires support for iOS 7. There is just one line that should be added to keep working on it.

MTBarcodeScanner.m line 356
[code]

I've replaced them to enable support for iOS 7, but every time I update my CocoaPods or setup in another computer I should make this change manually. Can you please add this change to master branch?

[2015-12-31 16:20] #60 closed

[2015-12-31 16:22] mikebuss commented on #60
Thanks for bringing this to my attention. What version of the pod are you using? If you're on 1.8.10, you should have [this fix](https://github.com/mikebuss/MTBBarcodeScanner/blob/master/Classes/ios/Scanners/MTBBarcodeScanner.m#L357-L359), which adds a check for compatibility:

[code]

After some investigating, it looks like this wasn't merged into `develop`, but was merged into `master` and deplo

[2016-01-18 08:26] jaybowong commented on #47
@nickw444 Have you implemented this? How about a PR?  I think a lot of people need this feature and it can help a lot.

It's quite often to me that It doesn't focus when scanning a bar code (e.g. a bar code on the back of a book).

[2016-01-19 16:51] mikebuss commented on #47
@jaybowong I can take a stab at this over the weekend. I will update this ticket with the results.

[2016-01-19 22:58] #47 closed

[2016-01-19 23:01] mikebuss commented on #47
I added an initial implementation for this. When the user taps the screen, MTBBarcodeScanner will now set the `focusPointOfInterest` to the point the user tapped, and call a block named `didTapToFocusBlock()`, which can be overridden for custom drawing.

The full details can be found [here](https://github.com/mikebuss/MTBBarcodeScanner/commit/9a04e623005f7744806a997e0f386e8a420ba66c). The README a

[2016-01-19 23:06] mikebuss commented on #50
In an effort to keep GitHub Issues for bugs and issues, I'm moving this to the [Suggested Features](https://github.com/mikebuss/MTBBarcodeScanner/blob/develop/Documentation/SuggestedFeatures.md) document.

Please submit a pull request if you'd like to tackle this one.

[2016-01-19 23:06] #50 closed

[2016-01-20 03:30] jaybowong commented on #47
Thanks @mikebuss  👍
Can't wait to try this!

[2016-01-20 06:24] nickw444 commented on #47
Awesome stuff. I'll be sharing a gist as soon as I can which uses this and adds a apple camera like focus square.

[2016-02-01 10:19] JackKirk opened #64 "Can not get MTBTorchModeAuto to work in B4i"
Hi,

I am using your code via the iBarcode library wrapper in the AnyWhereSoftware B4i product.

For reference you may like to view:

[]https://www.b4x.com/index.html
[]https://www.b4x.com/android/forum/threads/ibarcode-library.47354/

This wrapper has recently been enhanced to incorporate the MTBTorchModeOff/ MTBTorchModeOn/ MTBTorchModeAuto features, see this thread:

[]https://www.b4x.com/andro

[2016-02-01 15:15] mikebuss commented on #64
Hey @JackKirk - awesome library! I'm going to bookmark this if I ever work on Android development.

To answer your question: the torch functionality in MTBBarcodeScanner is a little limited. The scanner object gives you the ability to turn the torch on or off, but doesn't allow you to automatically turn the torch on based on lighting conditions. The reason there's a `MTBTorchModeAuto` option is be

[2016-02-01 15:15] #64 closed

[2016-02-24 11:28] hardikdevios opened #65 "<Error>: CGAffineTransformInvert: singular matrix. in Swift"
I am having this error everytime i restart the Scaning and its stops working for capturing the Barcode.

[code]

[2016-02-24 14:45] mikebuss commented on #65
Hey @hardikdevios - can you check if the `viewIntrest.frame` value is zero? If this is the case, MTBBarcodeScanner won't be able to properly frame the scan rect.

If it's not, can you set a breakpoint in `setScanRect:` in MTBBarcodeScanner.m and see what the value of `self.captureOutput.rectOfInterest` is after the assignment? If this is zero, it's possible your `viewIntrest.frame` isn't within th

[2016-02-25 06:36] hardikdevios commented on #65
@mikebuss Thanks boss solved issue it was an Autolayout issue in Landscape mode cheers .

[2016-02-25 06:36] #65 closed

[2016-02-25 12:59] hardikdevios opened #66 "AVCaptureSession Stop Running"
**First of all, Thanks for the Lib**
I have few questions like **AVCaptureSession Interruption**.

Some time Session being stop after few seconds and was unable to detect the error, i have  put the Debug points in this lib but nothing fire and camera stops scanning, So after little bit more research i have found one thing that some notifications will be called like

[code]

And after adding this O

[2016-02-25 21:41] mikebuss commented on #66
I wasn't able to reproduce this on an iPhone 6 Plus running iOS 9. I turned the capture on and waited 20 minutes but didn't see any issues. Since this is not something specific to MTBBarcodeScanner, and sounds more like an AVFoundation issue, I think your best bet is to use StackOverflow or file a bug report to Apple.

[2016-02-25 21:41] #66 closed

[2016-03-26 17:51] zackfletch00 commented on #66
+1, I'm having the same issue on my iPhone 6S Plus running iOS 9.3.  On a seemingly random basis, sometimes as frequently as every 15-20 seconds, my session is interrupted or stopped (sometimes i get WasInterrupted notification, other times I get DidStopRunning notification.  The torch also cuts off during these times.  My best workaround was to observe for those notifications and call startRunnin

[2016-03-26 19:13] zackfletch00 commented on #66
Amazingly, the interruptions seem to be related to **Headphones** being plugged in!  Unplug headphones, and no interruptions.  Plug them back in, and the session is once again stopping itself.  Problem solved?

[2016-04-13 22:05] soufianeEssabbane opened #67 "IPAD ISSUE"
Hi mike, thanks for the great work you're doing. I use MTBBarcodeScanner in an universal app, it works like a charm in iPhone but not in iPad sometimes it works sometimes no ...
thanks

[2016-04-15 13:35] mikebuss commented on #67
Hi @soufianeEssabbane - can you provide more details here? Are you seeing a crash? If so, can you produce a stack trace?

The camera on the iPad isn't quite as good as some iPhones, so that may be your issue.

[2016-04-15 13:49] soufianeEssabbane commented on #67
Hi @mikebuss  thanks for the replay, I actually use the same code you're using in the sample (:$) I have an iPad Air and it just doesn't detect the qrcode sometimes. you need to try many times before it works it's kind of random behavior ... and the same code works super fine in iPhone devices ... it shows no error. the problem is that i'm not able to explain or give more details...
do you think t

[2016-04-15 14:05] mikebuss commented on #67
Unfortunately the iPad camera isn't as high quality as the iPhone cameras. I think that is the issue you're seeing. I'm going to close this, as it sounds like a hardware issue. If you find a way to improve this, please let me know, but I think you're limited by the camera quality.

[2016-04-15 14:05] #67 closed

[2016-04-15 14:07] soufianeEssabbane commented on #67
Thanks sir

[2016-04-30 07:42] hardikdevios opened #69 "Carthage Support"
It would be great if you give support for Carthage.

[2016-05-05 17:48] mikebuss commented on #69
I'm not familiar enough with Carthage to add this. If someone would like to submit a pull request with this functionality, I would gladly merge it in.

[2016-05-05 17:51] hardikdevios commented on #69
I can but you have to drop support for iOS 7 as Carthage only suppots from iOS 8

[2016-05-05 18:04] mikebuss commented on #69
That's OK - we can do a major breaking v2.0.0 release. If anyone wants to keep support for iOS 7 they'll have to use v1.9.1 and CocoaPods. I will make sure this is noted in the documentation.

[2016-05-05 18:35] hardikdevios commented on #69
Ok then i will make PR for that before sunday

[2016-05-05 19:48] hardikdevios commented on #69
Not to much wait buddy here you go
#70
Merged it . I have Updated README.md also with Carthage Badge and instruction to install using Carthage.

[2016-05-05 22:37] mikebuss commented on #69
This is now in v2.0.2. Thanks @hardikdevios!

[2016-05-05 22:37] #69 closed

[2016-06-01 21:17] ShashankThakur commented on #49
Library scans perfectly on iphone but on ipad it is not able to scan after trying for minutes..

[2016-06-01 21:31] mikebuss commented on #49
@ShashankThakur can you try using the demo project supplied with the library? Also, can you report back which iPad you are using, and what iOS version?

[2016-06-28 12:12] sp-wisebits commented on #18
lack of documentation could be viewed as an issue, right? 😉

[2016-06-28 13:46] mikebuss commented on #18
This library was built for Objective-C projects - if you'd like to submit documentation for how to use it in Swift, I would happily accept pull requests. In the meantime, the above code is a great start.

[2016-06-30 21:23] zscgeek commented on #66
Were you ever able to track down a fix to this other then removing the headphones?

[2016-06-30 22:03] davidmaitland commented on #66
Would love to know this as well. I had to write some hacky code to detect whether the session has crashed and restart it.

[2016-07-01 00:51] mikebuss commented on #66
I haven't had much luck reproducing this on my end with an iPhone 6S Plus running iOS 9.3.2. Is anyone able to reproduce this reliably with a set of steps?

I created a bare-bones implementation using AVFoundation in a separate Xcode project we can use. Hopefully this will help narrow it down a bit. If you're able to reproduce the issue in this project, please let me know, and I can investigate fu

[2016-07-03 07:22] hardikdevios commented on #66
This is more likely an issue from Apple side because the session is getting stop without no reason, i have write code with my own and same thing is happening. And yes session is getting frequent interruption while you plugin the headphones or playing music in background even if you have started camera and put it in background that also be case.

[2016-07-17 23:34] navicor90 opened #71 "[Bug] v1.9.1: captureOutput:didOutputMetadataObjects:fromConnection: crash on ios7"
I see high rate crash on `captureOutput:didOutputMetadataObjects:fromConnection:` in my crash report. I use 1.9.1 MTBBarcodeScanner with iOS 7 support.

### _Stacktrace_

    n     |  file                |      selector
-----| ----------------------------------------- | ----------------
0	| myApp	 | [MTBBarcodeScanner captureOutput:didOutputMetadataObjects:fromConnection:] (in myApp) (MTBBarcodeSc

[2016-07-18 02:37] navicor90 commented on #71
I've made the fix (diff is [here](https://github.com/mikebuss/MTBBarcodeScanner/compare/1.9.1...navicor90:fix-result-block-ios7)), but I think that you should create an `iOS7-support` branch to create the tag 1.9.2, because I started my fix in the tag 1.9.1.

[2016-07-18 02:59] mikebuss commented on #71
Thank you for finding the fix @navicor90. I will create a pull request with your change, merge it into the main `develop` branch, release a v2.0.3 (iOS 8+), and then merge the change into a `iOS7-support` branch based off v1.9.1 for iOS 7 support.

I'll update this ticket when this is all finished!

[2016-07-18 03:00] #71 closed

[2016-07-18 03:13] mikebuss commented on #71
Ok, I created a branch called [`iOS7-support`](https://github.com/mikebuss/MTBBarcodeScanner/tree/iOS7-support) which is based off v1.9.1 for iOS 7 and has the above fix.

I've also released v2.0.3 with this fix, but that will require iOS 8+. Thanks again!

[2016-07-18 03:44] navicor90 commented on #71
can you release v1.9.2( with iOS7 support)? then I update my podfile. Thanks!

[2016-07-19 14:15] mikebuss commented on #71
I'd prefer not to release a 1.9.2 if we're already officially at 2.0.3, but there is a way around this:

Can you point your Podfile at the `iOS7-support` branch, like so?

`pod "MTBBarcodeScanner", git: 'git@github.com:mikebuss/MTBBarcodeScanner.git', branch: 'iOS7-support'`

This will get you this fix, and also keep iOS 7 support, even though MTBBarcodeScanner has officially dropped this support

[2016-07-20 00:36] Jkurbs opened #73 "Bar code"
Hi Mike can it read this type of bar code? Thank you!
![barcode](https://cloud.githubusercontent.com/assets/10508898/16971286/7511c182-4df0-11e6-8dac-ee525f1ddb45.jpg)

[2016-07-20 10:03] shekbagg commented on #73
What does it read it it as?

[2016-07-20 18:44] mikebuss commented on #73
Yes, this will scan. In the future, there is a sample project provided with the repository that will allow you to test codes. Thanks!

[2016-07-20 18:44] #73 closed

[2016-07-21 02:32] Jkurbs opened #74 "Type of code"
Just one last question! How do I know what type of code I just read? Because if it's a Url (Qr Code) I want to do something and if it's another type I want to do another action. I'm using swift. Thank you very much.

[2016-07-21 14:24] mikebuss commented on #74
@Jkurbs because this is a general programming question, please ask it on [StackOverflow](http://stackoverflow.com). GitHub issues are only for reporting issues with this project.

To get you started, here is an example for using the project in Swift:
https://github.com/mikebuss/MTBBarcodeScanner/issues/18#issuecomment-80762411

The codes are reported as strings. You can perform conditional logic b

[2016-07-21 14:24] #74 closed

[2016-07-26 15:56] shekbagg opened #75 "Does freeze capture stop the scanner?"
When I `freezeCapture()` on a successful scan, sometimes it scans the same barcode a second time and the callback gets called again. So, is freeze capture a safe way to stop capturing and then use unfreeze when ready to restart? Or should I always use stopScanning()?

[2016-07-26 20:45] mikebuss commented on #75
I believe you're seeing the code a second time because AVFoundation returns codes as quickly as it can process them in the image stream (and often times this means the same code multiple times). These codes get queued up, and will get reported back through the `resultBlock`.

`freezeCapture()` doesn't set the `resultBlock` to nil, so codes can still be reported if they were queued up. Calling `sto

[2016-07-26 20:45] #75 closed

[2016-07-27 03:08] shekbagg commented on #75
Thanks!

[2016-07-27 21:06] navicor90 commented on #71
@mikebuss we use podspec file, because we have a pod that wrap your library for many apps. And the podspec file does not allow set the github repo.

[2016-08-11 13:36] ASAPWebTeam opened #76 "Extra 0 when scan a UPC barcode"
When we scans a UPC barcode, the iOS device adds an extra zero in front of the barcode number

[2016-08-11 13:44] mikebuss commented on #76
Yes, this is expected of UPC-A codes. The AVFoundation framework adds a leading zero to the `stringValue`.

From Technical Note 2325:

https://developer.apple.com/library/ios/technotes/tn2325/_index.html

[2016-08-11 13:44] #76 closed

[2016-08-27 20:48] rajan2211 opened #79 "Not working with Jailbroken device"
Hi

Will it scan the QR code in a JailBroken device?

Thanks

[2016-08-27 20:54] mikebuss commented on #79
I don't see why this library wouldn't work on a jailbroken device, but I don't offer support for this.

If someone finds a problem with this library on a jailbroken device (and can fix it **without** using private API's), I would accept pull requests.

[2016-08-27 20:54] #79 closed

[2016-08-30 05:47] ravi-pixometry opened #80 "Aztec bar code not getting read"
Hello Sir,

Thanks for this amazing library. I am trying to scan Aztec qr code but i am not able to do that so i like to know that weather i can read the Aztec qr code using this library or not?

Thanks,

[2016-08-31 00:57] mikebuss commented on #80
Hey there! You can find a list of supported barcodes here: https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVMetadataMachineReadableCodeObject_Class/index.html#//apple_ref/doc/constant_group/Machine_Readable_Object_Types

I will also look into getting this into the README file. Thanks.

[2016-08-31 00:57] #80 closed

[2016-09-16 12:18] JacopoKenzo opened #81 "focusMode = AVCaptureFocusModeContinuousAutoFocus"
Hi,
I was playing around with the library and I found out that changing the focusMode to AutoFocus improves a lot the usability of the scanner.
Testing with iPhone 5 iOS 10 GM was really hard to focus on a QR code even if the `autoFocusRangeRestriction` is set to `AVCaptureAutoFocusRangeRestrictionNear`.

        // Focus on the center of the image
        if ([deviceInput.device respondsToSelecto

[2016-09-16 13:46] mikebuss commented on #81
Thanks @JacopoKenzo - it looks like the focusMode is currently set to `AVCaptureFocusModeContinuousAutoFocus ` in the latest version ([line 338](https://github.com/mikebuss/MTBBarcodeScanner/blob/develop/Classes/ios/Scanners/MTBBarcodeScanner.m#L338)) of MTBBarcodeScanner. If you try the latest version, does this fix any focus issues on your end?

[2016-09-17 02:56] JacopoKenzo commented on #81
@mikebuss yes i'm using the last version, `AVCaptureFocusModeContinuousAutoFocus` is set when the user tap-to-focus, not when the camera starts. That means an extra tap from the user.

And also tapping the camera didn't really focus on my end, that's why i set the AutoFocus property in the init of the camera, so the user doesn't have to tap.

[2016-09-17 18:08] mikebuss commented on #81
Good catch - I've updated this in https://github.com/mikebuss/MTBBarcodeScanner/commit/e7a6f263e1259f360d251a40d4262b0fa5250042 and will push a new version out shortly. Thank you!

[2016-09-17 18:08] #81 closed

[2016-09-17 20:32] mikebuss commented on #81
This is now in the pod version `2.1.0` if you'd like to update on your end. Thanks again!

[2016-09-20 03:02] jaybowong opened #83 "Fatal Exception: NSInvalidArgumentException *** Can't add a nil AVCaptureInput"
Fatal Exception: NSInvalidArgumentException
*** Can't add a nil AVCaptureInput

This crash happened only one time. iPad 4. iOS 8.3.0.
I don't have an iPad 4. Don't know how to reproduce it either.

[Fabric](http://fabric.io) shows below.
[code]

[2016-09-21 14:03] mikebuss commented on #83
Thanks @jaybowong. It looks like this exception was caused by `nil` being returned by `deviceInputWithDevice:error:` instead of a valid `AVCaptureDeviceInput`.

According to the documentation for this method, it looks like this could happen if the device is no longer available or in use:

It's possible the user granted camera access to your app, started scanning, then rejected permission, and atte

[2016-09-21 15:05] mikebuss commented on #83
This is now in v3.0.0. Thanks!

[2016-09-21 15:05] #83 closed

[2016-10-04 17:11] brblakley opened #86 "App Store rejection for not including NSPhotoLibraryUsageDescription"
I created a build of my app with the iOS 10 SDK and submitted it to iTunes Connect and got the following rejection a few minutes later in an automated email:

I was able to track down the cause of the rejection to this line:

[code]

https://github.com/mikebuss/MTBBarcodeScanner/blob/daab12a707ffeed5524a1fc7da1be94e7b01fe00/Classes/ios/Scanners/MTBBarcodeScanner.m#L186

That is, I tried replacing

[2016-10-04 17:16] mikebuss commented on #86
Thanks for finding this @brblakley. That's a really unfortunate check on the part of the App Store team. I agree that your suggested change sounds like the best route to take, and will submit a fix for this in a moment under version 3.1.0.

[2016-10-04 17:35] #86 closed

[2016-10-04 17:41] mikebuss commented on #86
This is now in v3.1.0. Thanks again!

[2016-10-05 03:29] bmauter opened #87 "Why isn't the camera working on my iPad with MTBBarcodeScanner?"
Sorry this question is so open-ended.  I don't know how else to explain it.  I've also asked on StackOverflow in case I'm missing something blatantly obvious.  (http://stackoverflow.com/questions/39864883/why-isnt-the-camera-working-on-my-ipad-with-mtbbarcodescanner)

I updated to 3.1.0 also before posting.  Carthage is sweet!

TL;DR?  My iPhone works while my iPad does not using the same code, on

[2016-10-05 04:12] bmauter commented on #87
I also tried to set up a notification for `AVCaptureSessionRuntimeErrorNotification`.  **AVCaptureSession.h** says that it posts notifications when it fails to start a session.  My `onCameraError:` method isn't getting called.

[code]

[2016-10-05 16:40] mikebuss commented on #87
Can you try waiting until viewDidAppear to call `startScanningWithResultBlock` on your MTBBarcodeScanner instance? Starting it in `viewDidLoad` seems a little early in the lifecycle for this, and may be causing the issue. I'm not sure why that would work on iPhone and not iPad, though.

You may also need to start scanning after the constraints have been updated on the view, either by calling `setN

[2016-10-05 18:39] bmauter commented on #87
Thank you!  I’ll give it a try soon.

[2016-10-05 19:28] mikebuss commented on #87
Since I don't believe this is an issue with the library itself, I'm going to mark this as closed. Please feel free to comment on this issue if you need further help, or if new information comes to light.

[2016-10-05 19:28] #87 closed

[2016-10-07 01:05] bmauter commented on #87
Thanks again, Mike.  It DID help.  I moved the startScanning method call to `viewDidAppear:animated:` and it worked!

[2016-10-21 09:34] AmilaDiman opened #88 "Issue scanning QR codes with front camera"
Because the front cameras automatically flip the image, the library does not seem to detect the QR code. Is there a separate setting that I should enable when using the front camera or do I have to handle that?

[2016-10-23 03:56] mikebuss commented on #88
Hi @AmilaDiman. I am able to scan QR codes using the front-facing camera of both an iPhone 7 Plus and an iPad Air 2. The code I'm scanning it from the search page [here](https://www.google.com/search?sourceid=chrome-psyapi2&ion=1&espv=2&ie=UTF-8&q=qr%20code&oq=qr%20code&aqs=chrome.0.0l6.1136j0j7).

What devices are you using to scan the code? Is it possible the QR code is blurry or invalid? If the

[2016-10-23 03:56] #88 closed

[2016-10-25 03:37] AmilaDiman commented on #88
Hi @mikebuss, I tried it with an iPad Mini 4 and an iPad 2. The scanning from front camera only works if I manually flip the QR code horizontally. There is no special setting I have to set right?

[2016-10-25 04:16] AmilaDiman commented on #88
Hey @mikebuss , I found the issue. When using [self.scanner flipCamera] method, it does not work. When using self.scanner.camera = MTBCameraFront, it works!

[2016-11-08 16:32] ltlombardi opened #90 "Add more examples for Swift 3.0"
Using this lib in Swift 3 is a little bit trickier, because of all the optionals and `code` needs to be converted to `AnyObject` or `AVMetadataMachineReadableCodeObject` to the the `stringValue`. Here is the code I have to figure it out. Would be nice to put it on the readme.md. This is for "To continuously read and only output unique codes:":

`    override func viewDidAppear(_ animated: Bool) {

[2016-11-08 18:00] cspinelive opened #91 "Possible to add support for Digimarc Barcode"
Digimarc has a new imperceptible barcode technology that covers entire packages with barcodes.  They have a paid SDK that can read them.  Do you think this is something that could be added to your SDK?

https://www.digimarc.com/docs/default-source/discover-resources/brochures/dmrc-tech-overview-digimarc-barcode.pdf?sfvrsn=14

https://talkbusiness.net/2016/10/the-supply-side-wal-mart-testing-waterm

[2016-11-09 15:34] mikebuss commented on #91
I don't have any plans to add paid SDK's to MTBBarcodeScanner, although if Apple adopts this in their AVFoundation framework I will make sure it is added. If anything changes, I will update this ticket. Thanks!

[2016-11-09 15:34] #91 closed

[2016-11-09 15:35] mikebuss commented on #91
I should add: if anyone wants to submit a pull request with this functionality, I will gladly add it in. Until then, MTBBarcodeScanner will just support the codes that AVFoundation does.

[2016-11-09 16:43] mikebuss commented on #90
Thanks @ltlombardi - good idea. I've added a Swift 3 example based on your code to the README. [Here](https://github.com/mikebuss/MTBBarcodeScanner/commit/3697003c603f815dc88b461c8ff137160d9416be) is the commit.

[2016-11-09 16:43] #90 closed

[2016-11-17 15:53] ltlombardi opened #92 "is there a way to show a view on top of the barcode to show it's been scanned"
Something like the red and green rectangle present on the project home, on top of the sample bar codes?

[2016-11-17 16:09] #92 closed

[2016-11-17 16:09] ltlombardi commented on #92
I found the demo project :-)

[2016-11-18 11:48] ltlombardi opened #93 "Camera is scanning whole device screen, even if display a smaller frame"
I tested and realised that although i can create a scanner in a small UIView, let's say, half the size of the device screen, the rest of the camera feed is being scanned also, even if it's not shown to the user.

I think I can use "Limiting the Scan Zone" to solve this problem, using the "previewView.frame", but it seems it should be the default behavior. Only scan the part of the camera feed that

[2016-11-18 13:50] mikebuss commented on #93
This may be something I implement in the future, but I think the more common case is the `previewView` takes up the entire screen, or most of the screen. Having MTBBarcodeScanner set the `scanRect` to the `previewView.frame` would be a solution, but what if that frame changes size? Is MTBBarcodeScanner then monitoring the `previewView` for frame changes?

Also, there may be a case where someone wa

[2016-11-18 13:50] #93 closed

[2016-11-24 11:39] CarlinhaCamargo opened #94 "Crash on iOS 8.4 - mach-o, but wrong architecture"
I've run into a crash when testing on an Iphone 5c iOS 8.4.
Log error shows: "MTBBarcodeScanner.framework/MTBBarcodeScanner: mach-o, but wrong architecture"

Installed MTBBarcodeScanner with carthage.
App suport: 8.0

is there a version that I can use and this doesn't happen?

[2016-11-25 22:33] mikebuss commented on #94
I need more information to help debug this. Does the error happen every time you run the app?

It sounds like this may be an issue with how MTBBarcodeScanner was installed using Carthage. Can you try some of the suggestions from [this search](https://www.google.com/search?q=mach-o%2C+but+wrong+architecture+carthage&oq=mach-o%2C+but+wrong+architecture+carthage&gs_l=serp.3..33i21k1j33i160k1.33577.34

[2016-11-25 22:33] #94 closed

[2016-11-30 17:29] bvirlet opened #95 "Issues in Split View"
Hello,

If I enable Split View in the Example app by removing the UIRequiresFullScreen key from the Info.plist as described below, the camera preview layer doesn't auto-rotate properly. This prevents me from using this in a Split View compatible iOS app.

[code]

Thanks!
Bruno

[2016-11-30 22:34] mikebuss commented on #95
I am not able to reproduce any issues with the sample app by turning off UIRequiresFullScreen.

On an iPhone 7 Plus running iOS 10.1.1, the preview layer rotates both its UIView and the contents of the camera preview correctly when rotating to landscape from portrait. Can you explain what you're seeing on your end? I've attached screenshots - let me know if you're seeing something I'm not.

![img_

[2016-11-30 22:52] bvirlet commented on #95
Sorry, I reproduce this issue on an iPad running iOS 10.1, not on my iPhone.

[2016-12-01 11:02] bvirlet commented on #95
Thanks for the feedback. Do you know why the views need to be completely on Auto-Layout? (I have been trying to find some documentation about that but couldn't). With Auto-Layout is the preview layer supposed to rotate automatically when the device rotates?

[2017-01-04 11:12] fmaylinch opened #98 "Add full Objective-C example (like Swift ones)"
First of all, thanks for this great scanner.

I just thought it would be good to add a full Objective-C example, the same way you add Swift examples. I'm saying this because I made a mistake and didn't call `startScanningWithResultBlock` in `viewDidAppear` but in `viewDidLoad`. The scanner seems to work anyway, but it responds slower.

Thanks!

[2017-01-05 00:59] #98 closed

[2017-01-05 01:00] mikebuss commented on #98
Good idea. I added a note about using `viewDidAppear` instead of `viewDidLoad` to the README. I'll also look at adding a full Objective-C example - I would pull the code from the sample project, but it uses a button to initiate scanning.

Thanks!

[2017-01-17 11:25] iosmiracle opened #99 "could not scan in ios 10.2 and xcode 8.2 on ipad"
could not scan in ios 10.2 and xcode 8.2 on ipad. Its working fine on iphone but not able to scan on ipad

[2017-01-17 14:37] mikebuss commented on #99
This library is being used in production apps running on iPad 10.2. Can you share the code you are trying to scan? What model of iPad are you using?

[2017-01-17 18:41] mikebuss commented on #99
I'm going to close this for now as I can't reproduce it but please add further details if you have them,

[2017-01-17 18:41] #99 closed

[2017-02-06 12:05] chilion opened #100 "Swift compile error "Use of undeclared type MTBBarcodeScanner""
Hi Mike (or anyone else that reads this)

I have an compile error, I guess I do something wrong, but I have no clue whatsoever what I would be doing wrong then.

![Code](https://puu.sh/tQMuZ/844dd9f31d.png)

[2017-02-06 13:43] mikebuss commented on #100
You'll need to import the library:

[code]

At the top, under `import UIKit`

[2017-02-06 13:44] mikebuss commented on #100
Closing, but please comment or email me if you run into more issues.

[2017-02-06 13:44] #100 closed

[2017-02-06 13:46] chilion commented on #100
Yeah this is actually something I already did;

![Screenshot](https://puu.sh/tQSqD/6e971da6c7.png)

[2017-02-06 14:14] mikebuss commented on #100
How was MTBBarcodeScanner added to your project? It looks like it can't find the two source files (MTBBarcodeScanner.h and .m). Is this by any chance a project you can zip up and link here?

A few things off the top of my head:

- If you added the library through CocoaPods, make sure you're using the .xcworkspace and not the .xcodeproj file to open the project
- If you added through Carthage, you'

[2017-02-06 14:14] mikebuss commented on #100
One more thing: if you added through CocoaPods, you'll need to use the flag:

[code]

At the top of your Podfile

[2017-02-06 14:16] chilion commented on #100
![It already has](https://puu.sh/tQUkA/1b64222aa0.png <https://puu.sh/tQUkA/1b64222aa0.png>)

[2017-02-06 14:18] mikebuss commented on #100
In that Podfile it looks like MTBBarcodeScanner is nested under the Tests target. Can you try moving it up to the main target, running a `pod install`, and seeing if that works?

[2017-02-06 14:32] chilion commented on #100
See the new Podfile:
![Screenshot](https://puu.sh/tQVcJ/1cc90cc348.png)

Then I closed xCode and rebooted it, cleaned the project and I don't get any problems anymore. Next challenge for me is to open the scanner when I push a custom created button and get the input from the scanner into a textbox.

Especially opening the scanner on button push is a challenge, do you have any hints for me in the r

[2017-02-06 14:36] mikebuss commented on #100
The demo project does this, but it's in Objective-C. It should be straightforward to translate to Swift:

https://github.com/mikebuss/MTBBarcodeScanner/blob/develop/Project/MTBBarcodeScannerExample/Classes/Controllers/MTBBasicExampleViewController.m

[2017-02-06 15:13] chilion commented on #100
I think I did make it happen in Swift, only problem here is that it won't actually open the camera. I did run through the debugger multiple times, it tells me it doesn't read any codes actually. But, it doesn't even open the camera! :)

Oh and yes, every time I hit that button, ejo is printed

See my code:
![Code](https://puu.sh/tQY6e/333488187d.png)

[2017-02-09 10:57] shagedorn opened #101 "Should the AVCaptureSession be started asynchronously?"
Given the existance of a `didStartScanningBlock`, I assumed calling `startScanningWithResultBlock:error:` would perform all expensive tasks asynchronously, but this doesn't seem to be the case. I believe these two blocks of code execute in the exact same way:

[code]

vs.

[code]

I've also confirmed in Xcode's CPU profiler that the main thread is blocking for a bit, while all other thread are idl

[2017-02-09 16:57] mikebuss commented on #101
I like the proposed solution of moving the session setup to a background thread. If you have a PR for this, I'd be happy to merge it in. Thanks for finding the issue!

[2017-02-10 17:21] shagedorn commented on #101
Will start working on this next week.

[2017-02-15 14:19] #101 closed

[2017-02-17 16:04] shagedorn opened #110 "Remove auto torch mode?"
I think `MTBTorchModeAuto` doesn't work as expected, i.e., it doesn't work at all.

I've found an old radar that describes the issue:
http://www.openradar.me/15138815

Looking at the Camera app (in video mode), the behaviour is probably intentional: The torch doesn't turn on until you actually start a recording – while previewing, you only get an indicator (yellow box) that tells you if the app *w

[2017-02-17 16:12] mikebuss commented on #110
Good catch. I originally created MTBTorchMode to map 1-to-1 with AVCaptureTorchMode so the user is given all the available options, but if Auto doesn't make sense from a barcode scanning perspective then it's definitely worth removing.

We can remove it entirely and release a v5.0.0 with the change. If users want to evaluate the raw video output and determine whether to turn on the torch dynamical

[2017-02-17 16:41] shagedorn commented on #110
Will remove then :)

[2017-02-17 16:55] #110 closed

[2017-02-21 13:37] sw-tt-krutikvora commented on #99
Hello,

I am facing issue like barcode scanner camera is open successfully but barcode can not able to scanned. To resolve this issue. i have to go for setting-> My Application -> Off/On camera permission and come back to my app. then my barcode successfully scan.
i am using iPad Air with iOS 10.1. ( Already allow camera permission when application start)
I have not always facing this issue.

Let

[2017-02-22 02:41] mikebuss commented on #99
@sw-tt-krutikvora If you haven't already, can you try running the demo application included with this repo on your iPad? If you are able to reproduce the issue with this project, I can take a look on my end.

[2017-02-28 00:51] winzig opened #112 "Ambiguous reference to member 'startScanning()'"
I've just upgraded from 3.x to 5.0, and I'm now receiving an error when I try to build my code. After a while of banging my head on the wall I decided to setup a sample project to simplify things and isolate the issue. So I'm using the same code in the README, and still getting the error:

<img width="734" alt="screen shot 2017-02-27 at 4 49 29 pm" src="https://cloud.githubusercontent.com/assets/1

[2017-02-28 01:22] winzig commented on #112
FWIW, I'm getting the same error with 4.0.

[2017-02-28 01:29] mikebuss commented on #112
Hey @winzig, sorry you're running into this issue. I believe with the recent changes the function signature has changed to:

[code]

When the change was made, the documentation wasn't updated to reflect the way Swift 3 requires you to call a method with this signature, which is:

[code]

I have updated the [documentation](https://github.com/mikebuss/MTBBarcodeScanner/blob/develop/README.md) and ad

[2017-02-28 01:29] #112 closed

[2017-03-02 15:48] thibauddavid commented on #88
Hi, same behavior for me (iPhone 6s), except setting camera to MTBCameraFront doesn't help.
Any idea ?

[2017-03-02 17:11] mikebuss commented on #88
@thibauddavid can you share what version of MTBBarcodeScanner you're using? Also, as much of the code as you can share would be helpful.

[2017-03-02 17:17] thibauddavid commented on #88
I'm using last version I guess, as my pod is `pod 'MTBBarcodeScanner'`

My code is pretty straightforward:

viewDidLoad:
`self.scanner = [[MTBBarcodeScanner alloc] initWithPreviewView:self.previewView];`

viewDidAppear:
[code]

And then, I have de double-tap gesture which calls `flipCamera` on scanner.
I've tried to switch camera manually too by using `self.scanner.camera = self.scanner.camera ==

[2017-03-02 17:57] mikebuss commented on #88
To make sure you're on the latest version, can you update your Podfile to:

[code]

And then run another `pod install`?

The latest version of the code makes the `camera` property readonly, and based on your example it might mean you're on an older version.

If you can, can you also try in the sample project in this repository and see if that has the same issue for you? I was able to scan codes us

[2017-03-02 19:24] thibauddavid commented on #88
Wait... 5.0.0 ?
My pod install results in `Using MTBBarcodeScanner (1.9.1)`, and found why : 5.0.0 requires targeting iOS >8
Guess it's time to upgrade my min deployment target :)

Unfortunately, upgrading did not change anything. I then tried your sample project... And still doesn't work.

Sure mirrored effect from front camera doesn't affect ean13 detection ?

[2017-03-02 19:31] mikebuss commented on #88
Ok, I was able to reproduce this on my end. For whatever reason, I can scan QR codes using the front camera, but the few EIN13 codes I tried from a Google search could _only_ scan on the back camera...

I think this may be a problem with AVFoundation since the front camera resolution should be fine for this, but I'll dig a big further to see what's going on. If it turns out to be a bug in AVFounda

[2017-03-02 19:32] thibauddavid commented on #88
Great you were able to reproduce it, and thanks for digging in !
If you remember, I'd love to get news about this  :)

[2017-03-02 19:45] mikebuss commented on #88
Can you try scanning this EIN13 code? You may need to hit CMD and + a bunch of times to make it larger, but it is a SVN so it can get as large as you need:
https://upload.wikimedia.org/wikipedia/commons/a/a2/EAN-13-5901234123457.svg

I believe the issue here is due to the front camera being much lower resolution than the back camera, which makes it harder for these codes to be detected. I was able

[2017-03-02 19:47] thibauddavid commented on #88
Right, scanning works by using that one zoomed. But iPhone 6s front camera resolution is way better than back camera of previous devices, and yet my iPhone 4 can scan without any problem :/

[2017-03-07 22:47] michaellatman opened #114 "Preview View Wrong Size Initally"
Hi there.

I have a preview view setup using constraints to fill the entirety of the users screen. I then spawn the view controllers and start scanning with MTBBarcodeScanner. The app starts scanning, but the preview view is initially too small. After a few moments it will expand to the correct size. No logs indicate any problems with the constraints, and the orange background color shows that the

[2017-03-07 23:01] mikebuss commented on #114
Hey @michaellatman - are you calling `startScanningWithError:` from within `viewDidAppear` or `viewWillAppear`? You may try calling it from within `viewDidLayoutSubviews` if you're seeing this issue.

If that doesn't help, can you compare your project with the sample project in this repository? If you're able to reproduce it (or modify the example to reproduce it), it may help us debug the issue.

[2017-03-07 23:06] michaellatman commented on #114
I was calling it within `viewDidAppear` moving it to `viewDidLayoutSubviews` worked.

Thanks!

[2017-03-07 23:07] mikebuss commented on #114
Cool. Happy scanning!

[2017-03-07 23:07] #114 closed

[2017-03-08 10:48] shagedorn commented on #114
Just a note: I'm not sure if you should call `startScanning...` in `viewDidLayoutSubviews`, as this may be called many times (and will report errors in subsequent calls). Instead, I'd recommend only calling `setScanRect:` in `viewDidLayoutSubviews`.

[2017-03-08 12:29] mikebuss commented on #114
That's a good point - I was assuming there was also a check to make sure you weren't already scanning.

Correct me if I'm wrong, but setting scanRect wouldn't update the camera feed size within the orange view above (which was the issue) - it would just update where barcodes are recognized from within the previewView. In general I wouldn't recommend calling startScanning from within viewDidLayoutS

[2017-03-08 12:37] shagedorn commented on #114
True, sorry... I just glanced at it and concentrated at `startScanning`. There is a check for an active session, and if that triggers, we return `NO` and set the error parameter. It won't affect the running session and probably works, it just doesn't feel right, and you might be surprised to see the errors if you handle them.

In our app, we set `scanRect` in `viewDidLayoutSubviews` and within the

[2017-03-08 12:50] mikebuss commented on #114
I agree, calling it in `viewDidLayoutSubviews` doesn't feel right. You can make it a little more stomache-able by wrapping it in something like:

[code]

But, that's not what I'd recommend, and I think a cleaner fix would be to find why the previewView isn't being laid out in this case. Using  `viewDidLayoutSubviews` was more of a debugging tactic, but ideally you'd call `startScanning` in `viewDi

[2017-03-08 17:16] michaellatman commented on #114
Hey all,

I did do not think that `viewDidLayoutSubviews` is the correct place to put this code. I checked into the setScanRect and it seems to be about "where" you can scan qr codes in the image.

I have constraints on the view for the preview view:
<img width="263" alt="screen shot 2017-03-08 at 5 13 22 pm" src="https://cloud.githubusercontent.com/assets/236019/23714903/c897b4ea-0422-11e7-96bd-b

[2017-03-08 17:18] mikebuss commented on #114
Can you compare your project with the sample project in this repository? If you're able to reproduce it there, or make it more similar to your project and send that my way, it will be easier to debug.

[2017-03-08 17:29] michaellatman commented on #114
It looks like `viewDidAppear` was the best place to put the scanning code, as suggested. It does make the app appear to be less responsive however as the view is transitioned modally and it will be orange for longer.

[2017-03-14 10:49] lisacmer commented on #101
I believe those changes can break thread safety, as for now self.session object is accessed from different threads (for example [self.session removeInput:deviceInput]; still called on main thread).
For example according to https://developer.apple.com/library/content/samplecode/AVCam/Listings/Objective_C_AVCam_AVCamCameraViewController_m.html
once initialised in main thread all calls to session mus

[2017-03-14 13:29] mikebuss commented on #101
Good catch. @shagedorn is this something you could take a look at? If not, I can take a look sometime this week.

[2017-03-14 15:53] shagedorn commented on #101
I can take a look in the upcoming days, but cannot promise a date at the moment.

[2017-03-14 16:32] mikebuss commented on #101
Ok thanks, that's no problem. If you find you can't get to it, just let me know and I'll dive in.

[2017-03-16 14:46] shagedorn commented on #101
I don't really have the time to fix/improve this this week (if this needs fixing, which I'm not entirely convinced of), but some thoughts:

* I initially planned to dispatch every session access to the private queue, but this is problematic during setup. After the session has been created, there's some code that needs to run on `main`, mostly [`self.capturePreviewLayer = [AVCaptureVideoPreviewLaye

[2017-03-16 17:46] mikebuss commented on #101
Thanks for taking a look @shagedorn. I can't seem to find anything in Apple's documentation that says our implementation could cause issues, since (like you said), we're not modifying the session's properties from multiple threads at the same time.

@lisacmer if you can point us towards documentation saying what we're doing is finicky, let us know. Otherwise, I think the current implementation fit

[2017-03-16 17:55] shagedorn commented on #101
We're also shipping this to production very soon, and it's been through a lot of internal testing already. Will create issues/provide fixes should we see any oddities.

[2017-03-18 09:28] lisacmer commented on #101
I don't think Apple's documentation clear enough about this topic. Should starting or stopping an `AVCaptureSession` be considered as 'mutating'? What will happen if i'll try to `removeDeviceInput` while starting a session (switching camera right after start)? I'm just saying that since all accessing in Apple's example takes place on a single thread (except for creation), this question would be un

[2017-03-18 14:24] mikebuss commented on #101
Here are answers to your questions. I'll work towards getting these added to the documentation, but some feel like odd flow (for example, I'm not sure why someone would try to start scanning after you've already started?)

No, each of these would return an NSError. You can only have one running session at a time, and you must first start the session before configuring it.

For the random hangs you

[2017-03-19 16:48] shagedorn commented on #101
Re: atomic vs. nonatomic:

Since the session property is accessed from two different queues, you can probably construct a theoretic example where the session queue tries to read the session property, while the nonatomic setter on main has already been called, but not all instructions have finished internally, leading to a potentially corrupt session when accessing it. For that, I wouldn't mind cha

[2017-03-22 11:47] abhii24 opened #115 "Is it possible to select image from photo library and detect qr code in that?? if yes how?"

[2017-03-22 12:30] mikebuss commented on #115
No, sorry. This is not a feature of this library.

[2017-03-22 12:30] #115 closed

[2017-03-27 14:00] DimonDeveloper opened #116 "How to add 60 fps capture for camera?"
I need more smoother camera.

I try this:

[code]

But it did not help.

[2017-03-27 19:15] mikebuss commented on #116
This library has always been optimized for barcode scanning and for battery life, so I'm not sure we're going to add support for 60 FPS. I wish I could help more, but I've never done this.

If anyone watching this repo has any experience with this, please comment here. For now, I'm going to close this.

@DimonDeveloper, you might have better luck asking on StackOverflow and using the AVFoundation

[2017-03-27 19:15] #116 closed

[2017-05-15 23:49] jwmuchow commented on #112
Any chance you can include an Objective-C example using the new signature?

[2017-06-02 03:50] ledikari opened #117 "Swift example not working"
error message: Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Attempted to start scanning on a device with no camera. Check requestCameraPermissionWithSuccess: method before calling startScanningWithResultBlock:

[2017-06-02 12:04] mikebuss commented on #117
What device are you using to test your code? Does the app have permission to access the camera according to the Settings app?

Please share the code, or a snippet if you can.

[2017-06-02 13:18] mikebuss commented on #117
It looks like the error was descriptive here: the library could not see a camera on the device because the user did not grant permission in the Settings app. As the error suggests, you'll need to use `requestCameraPermissionWithSuccess` to ask for permission before accessing the camera. Here is an example of that:

[code]

I've [added this](https://github.com/mikebuss/MTBBarcodeScanner/commit/32fa

[2017-06-02 13:18] #117 closed

[2017-06-05 02:10] kmuddapu opened #118 "Scans when camera is not open"
Thanks for the Code !!

After the successful scan, I'm pushing from First Controller to Second Controller. But Camera continuously scans the QRCode when I place the phone on QRCode in Second controller without the camera open.

Can you please help me !!

[2017-06-05 14:00] mikebuss commented on #118
I would suggest calling `stopScanning` before you push the second controller. That will ensure the session stops in the event the first controller isn't deallocated.

Hope this helps! Feel free to comment if not.

[2017-06-05 14:00] #118 closed

[2017-06-05 14:30] kmuddapu commented on #118
I did the same. but not working.

Below is my flow. Correct me if I'm wrong

1. Getting all View Controller in navigation stack  - Array[Zero Controller, First Controller]
2. Removing First Controller which has scanning Controller
3. Adding Second Controller to Stack

[2017-06-05 14:34] mikebuss commented on #118
At what point in the flow are you calling `stopScanning`? You'll need to call it before step 2, I believe. To test that that's working, you might try NOT removing ZeroController and ensuring `stopScanning` is working, and then when you've confirmed it works try removing ZeroController.

If you're still getting callbacks of QR codes being scanned, it means the scanner object in ZeroController hasn'

[2017-06-05 14:35] mikebuss commented on #118
Also, calling `stopScanning` in `viewWillDisappear` may not work here, depending on how you're swapping out view controllers. You will need to pass a message to the controller telling it to stop scanning before you swap it out.

[2017-06-05 15:15] kmuddapu commented on #118
After successful scan. Calling **stopScanning** method as well as in **viewWillDisappear**. Then I'm removing the First Controller.

Followed the same code from demo app.

I will check once again .

[2017-06-13 05:43] ledikari commented on #117
thanks! it works now.

[2017-06-16 14:34] juliangoacher opened #120 "Orientation change not detected correctly"
I've found that the code at this line https://github.com/mikebuss/MTBBarcodeScanner/blob/develop/Classes/ios/Scanners/MTBBarcodeScanner.m#L436
[code]
doesn't detect orientation changes correctly, but changing the code to the following does work:
[code]

[2017-06-16 20:08] mikebuss commented on #120
I will test this on my end and update the ticket. Under what circumstances are you seeing issues with the current method? I haven't seen any issues on my end, but our use cases may be different.

[2017-06-16 20:16] mikebuss commented on #120
After some research, it looks like we may want to stick with `statusBarOrientation` as it takes into account the supported orientations for the app. Is it possible you were rotating the device to an orientation not supported by your app, and that's what was causing the issue?

[2017-06-16 21:54] juliangoacher commented on #120
@mikebuss I don't think so. My setup is this - supported device orientations are:
[code]
The `MTBBarcodeScanner` class is init'd as:
[code]
(The preview property is an instance of `UIView`). The preview view is a full-screen view, I have the following to resize the preview after an orientation change:
[code]
What I found in my testing is that `[UIApplication sharedApplication].statusBarOrientation

[2017-06-16 23:42] mikebuss commented on #120
I'll take a look at this. For your suggested method, it looks like [Apple's documentation](https://developer.apple.com/documentation/uikit/uidevice/1620053-orientation?preferredLanguage=occ) says the property will always return zero unless you first call 'beginGeneratingDeviceOrientationNotifications'. Did you find that to be the case in your testing? I didn't see that call in your example.

[2017-06-16 23:46] juliangoacher commented on #120
Hmmm interesting - no, I'm not calling that method - and either is your code - so I'm not sure what's happening here.

[2017-06-17 10:33] juliangoacher commented on #120
@mikebuss So I think I know what's happening, and how to fix it.

* I guess that [the call to start observing UIDeviceOrientationDidChangeNotifications](https://github.com/mikebuss/MTBBarcodeScanner/blob/develop/Classes/ios/Scanners/MTBBarcodeScanner.m#L582) must contain an implicit call to `beginGeneratingDeviceOrientationNotifications` - I can't find this behaviour documented anywhere, but I sup

[2017-06-17 14:36] mikebuss commented on #120
Good catch! Would you be able to submit a pull request with the changes from your fork? If so I can merge that in and we'll be good to go.

[2017-06-17 17:30] mikebuss commented on #120
Fixed with https://github.com/mikebuss/MTBBarcodeScanner/pull/121. I will release a new version with this later tonight. Thanks!

[2017-06-17 17:30] #120 closed

[2017-06-18 15:41] mikebuss commented on #120
This is now pushed in the 5.0.1 pod release. Thanks again!

[2017-06-18 20:47] juliangoacher commented on #120
Great, glad to help!

[2017-06-19 04:47] Premal-Khetani opened #122 "'AVCaptureStillImageOutput' is deprecated"
Hello, This is best lib ever.

I am using it since last year. Now i am going to integrate it in new project. This project's targeted os is ios 10 and i am getting this error

Please let me know what to do?.

Thank you :)

[2017-06-19 13:56] mikebuss commented on #122
It looks like the `AVCaptureStillImageOutput` method was deprecated in iOS 10. You can still continue to use MTBBarcodeScanner in the meantime. I'll look into implementing the new `AVCapturePhotoOutput` so this warning goes away in the next version of MTBBarcodeScanner.

Thanks for letting me know!

[2017-06-24 16:52] mikebuss commented on #122
These warnings are now fixed in https://github.com/mikebuss/MTBBarcodeScanner/commit/23127f71b54cd3856c2d6ce13274bfaa1b077ba2, https://github.com/mikebuss/MTBBarcodeScanner/commit/ae0f06410e113f7edebf81c5c7bc4358a9bec2e1 and https://github.com/mikebuss/MTBBarcodeScanner/commit/488c2a9686053bbbafe730d513cdde8bae00587c on the `develop` branch.

If anyone has an iOS 8 or 9 device and wants to volunte

[2017-06-24 16:52] #122 closed

[2017-06-26 05:00] Premal-Khetani commented on #122
@mikebuss Thank you So much :)

[2017-07-27 09:23] ptaking opened #123 "Unable to start scanning"
What can lead to "Unable start scanning" error? I have permission, also init in `viewDidLoad()`. How can I see more detail on this error?
I used you example code. iOS 10 and Swift 3. Thanks :D

[2017-07-27 09:46] ptaking commented on #123
Turn out the preview `UIView` wasn't initialized. However I still want to know how to get more detail on this error.

[2017-07-27 09:46] #123 closed

[2017-07-27 20:40] Lukaz32 opened #124 "Barcode not detected"
I'm trying to read the following barcode
![barcode](https://user-images.githubusercontent.com/544727/28688652-f7776776-72e8-11e7-9b9b-6b97bc51bcf6.png)

but it's just never detected. I'm running the Basic Example.
Am I missing something or that type of barcode is not supported?

Thanks in advance

[2017-07-27 20:58] mikebuss commented on #124
I'm not sure what type of code that is. Here is an official list of supported codes:
https://developer.apple.com/documentation/avfoundation/avmetadatamachinereadablecodeobject/machine_readable_object_types

If it's not on that list, it won't be scannable by MTBBarcodeScanner. If you're able to scan other codes but not this one, and can't figure out what type of code this is, then it's most likely

[2017-07-27 20:58] #124 closed

[2017-07-28 13:25] Lukaz32 commented on #124
Thanks for the answer. The code is an [**interleaved2of5**](https://developer.apple.com/documentation/avfoundation/avmetadataobject.objecttype/1618825-interleaved2of5)
Apparently it should be supported :/

[2017-07-28 14:07] mikebuss commented on #124
I've seen issues with older devices not having good enough cameras for larger or more intricate barcode types - what device are you using?

Can you also double check you're on the latest version of iOS and MTBBarcodeScanner? I believe this type isn't available to older versions of either, per this ticket: https://github.com/mikebuss/MTBBarcodeScanner/issues/15

[2017-07-31 10:42] bluelabeldeveloper1 commented on #122
@mikebuss  Warning is disappeared. I checked it with scanning working fine just need to know that when you will release this version?

[2017-08-08 10:17] treinberger opened #125 "Preview layer with incorrect size on iPhone 7+"
I encountered the following problem on a iPhone 7+ device: when I start scanning, the preview layer size is a little bit too small, but not on an iPhone 6. The constraints set for the preview UIView seem to be ignored.

The way I temporarily fixed the problem is by manually setting the frame of the previewLayer as following:

scanner?.didStartScanningBlock = {() -> Void in
            self.scanner

[2017-08-08 12:02] mikebuss commented on #125
Thanks! I will close this but it will still get indexed by Google for anyone who needs it.

[2017-08-08 12:02] #125 closed

[2017-08-08 13:24] alistra opened #126 "stopScanning() hangs the app sometimes"
The code in `stopScanning` does stop the session on the side queue to not block the main queue

[code]

but sometimes the hang is caused by `[self removeDeviceInput];` which is done on the main thread. This removes inputs from the `AVCaptureSession`. This should also be done on a side queue. Also probably the code to remove outputs too.

There is an example how it should look like here https://sta

[2017-08-10 16:00] frozts91 opened #127 "Implement CaptureStillImage"
Hi @mikebuss i want to implement function captureStillImage on Swift 3, in the doc you said implement after start scanning, how to do that?

[code]

is that correct? because its return nil

[2017-08-12 00:00] mikebuss commented on #127
I wasn't aware of this limitation so I didn't document it, but the session must be running in order to capture a still image. So, calling `freezeCapture` before `captureStillImage` won't work - you'll have to capture the still image and then freeze.

I have tried this and it works, but let me know if you run in to any issues:

[code]

[2017-08-12 00:00] #127 closed

[2017-08-12 00:03] mikebuss commented on #126
Thanks for letting me know. I've fixed this in the latest push - let me know if that fixes it on your end. If it does, I can release a new version.

[2017-08-12 00:03] #126 closed

[2017-08-14 08:40] alistra commented on #126
I tested it out and it works like a charm now, please go ahead and release

[2017-08-14 09:56] shagedorn commented on #126
I am concerned about the details of the code change, I added a remark to the commit directly. Please give this a thought before releasing.

[2017-08-17 09:44] alistra opened #128 "setter for rectOfIntrest blocking"
Hello, I've found another issue with blocking the main thread.

The method `-setScanRect` is setting the `rectOfIntrest` on the main queue, where occasionally it blocks. This happens to me often, when I try to turn the scanner off and on again many times.

According to apple sample this operation should be done on a session queue, not main queue.

https://developer.apple.com/library/content/sample

[2017-08-17 13:25] mikebuss commented on #128
Ok, thanks for letting me know. I should have time to look at this over the weekend. Pull requests are also welcome.

[2017-08-21 20:55] #128 closed

[2017-08-21 20:56] mikebuss commented on #128
I have a fix for this in bd8982b. Let me know if this fits your needs. I'm going to hold off on releasing this until next week so everyone has a chance to look over the changes. Thanks!

[2017-08-22 07:59] alistra commented on #128
Works smooth like butter now! Okay to release for me.

[2017-08-26 17:44] mikebuss commented on #128
This is now in 5.0.3. Thanks!

[2017-08-31 20:36] acuenco opened #129 "Add zoom feature for scanner"
Will a zoom feature be added to the scanner? If not, how can I approach supporting zoom for this library?

[2017-08-31 22:46] mikebuss commented on #129
I have no plans to add zoom to MTBBarcodeScanner as it's not a commonly requested feature. To implement this, you will want to look at the AV Foundation documentation Apple provides:
https://developer.apple.com/av-foundation/

If you want to add what you implement back into MTBBarcodeScanner, please feel free to submit a pull request for review.

Thank you!

[2017-08-31 22:46] #129 closed

[2017-11-15 15:33] serjooo opened #130 "AVCapturePhotoOutput improvement"
Hello,

Thank you for the great project! Really useful!

I would like to suggest a couple of improvements that I saw and tested while fiddling around with the project.

I was testing out the `capturePhotoWithSettings` and I saw that the capturing of the photo was slow and also while capturing I was getting a dark picture. Thus I read around and found out that attaching the `AVCapturePhotoOutput` j

[2017-11-15 23:02] mikebuss commented on #130
Thanks @serjooo. In the code you provided, there's no reference to where or how the property `output` is defined, which is causing it not to compile. Can you clarify where you see this property being added? In the .h or .m? Can you also write the documentation for it, and how you see the user using this property? Thank you!

[2017-11-15 23:05] serjooo commented on #130
Anytime @mikebuss  glad I could help!

For your questions:

it should be added in the .m file:

@property (nonatomic, strong) AVCapturePhotoOutput *output;

Since it is in the .m file. The user will not have access to the output property instead this will just improve taking images on ios10+

[2017-11-15 23:06] mikebuss commented on #130
Ok, thanks for clarifying. I'll test this on my end and submit a pull request later today.

[2017-11-15 23:25] #130 closed

[2017-11-15 23:25] mikebuss commented on #130
Ok, this is now in the `develop` branch. This weekend, I'll push a new version of MTBBarcodeScanner with this included. Thanks again!

[2017-11-28 15:37] PH9 opened #131 "Fatal Exception: NSInvalidArgumentException"
Found a lot of it, It crashlytic show happens in all `iPhone`, `iPod`, `iPad` in iOS `10.0.1-2`, `10.1.01`, `10.2.0-1`, `10.3.0-3`, `11.0.0-3`, `11.1.0-2`, `11.2.0`

[code]
But maybe I implemented it wrong, it is OK to close this issue

[2017-11-29 03:50] mikebuss commented on #131
Hi @PH9. Can you provide the relevant code for the call stack you provided? I'm mostly looking for the code related to capturing still images in your code base. Let me know if you're able to share that. If not, any other information you can provide will be helpful. Thank you!

[2017-12-08 15:56] PH9 commented on #131
It happens when I create `UIViewController` with `MTBBarcodeScanner` inside
and that `UIViewController` is under `UINavigationController`
then push another `UIViewContoller` and it using camera

[2017-12-08 16:00] mikebuss commented on #131
Is there an Xcode project you can share? Unfortunately I'm not sure that's enough information for me to go on.

[2017-12-19 21:31] stephenfeather commented on #27
I know it is a little late, apologize, but some additional info for folks that might come by:
Code39 barcode for vins can have 17,18,19, and 20 chrs depending on the manufacturer.
17 - good to go
18 - strip first chr
19 - strip first & last chr
20 - strip first 2 & last chr

Swift 4 code snippet:
[code]

[2018-01-03 19:42] mikebuss commented on #131
I am going to close this, but please feel free to update the issue with additional information so I can take a look.

[2018-01-03 19:42] #131 closed

[2018-01-03 23:00] PH9 commented on #131
Thanks for trying to help me :)

[2018-01-10 08:54] jaimearanaz opened #132 "crash stopping MTBBarcodeScanner"
Hi guys,

First of all, thank you for your amazing library! It has been very useful in our app.

We are using release 5.0.4, and Crashlytics is reporting us some crashes in `MTBBarcodeScanner.m` line 362, with the exception `Fatal Exception: NSGenericException
*** -[AVCaptureSession stopRunning] stopRunning may not be called between calls to beginConfiguration and commitConfiguration`

All the cra

[2018-01-10 16:09] mikebuss commented on #132
Hi @jaimearanaz. Are you able to reproduce this in the demo project in this repo? If so, could you provide the steps you used?

What does your call cycle look for the MTBBarcodeScanner calls? As in, are you calling startScanning in viewDidAppear, and stopScanning on a button tap, or..?

The error almost looks like `stopScanning` was calling very quickly after calling `startScanning`, which caused

[2018-01-11 13:02] jaimearanaz commented on #132
Hi @mikebuss,

We could not reproduce the crash in our devices, but Crashlytics is still reporting it :/

Briefly, our app asks the user to scan a QR code, and if it is valid then presents the next view controller. Thus, we check in `viewWillAppear` if user has or not granted permission to the camera, calling `startScanning()` or asking for permission (then, when permission is granted, we call `st

[2018-01-11 13:08] serjooo commented on #132
@jaimearanaz is there an interactive dismiss or present in that view controller? Becuase if yes, the viewDidDisappear() will be instantly called while the interactive presentation/dismiss starts and then if cancelled viewWillAppear() will instantly be called. Thus causing the problem

[2018-01-12 10:20] jaimearanaz commented on #132
Thanks for your suggestion @serjooo but we're not using any interactive dismiss or presentation :/

It's weird too that we are not able to reproduce this bug in our devices, but Crashlytics is still reporting it. I think we are going to update the app and use a flag in `didStartScanningBlock()` so we will call `stopScannig()` only if that flag has been set.

[2018-01-12 10:39] serjooo commented on #132
@jaimearanaz  I think also if you put the startScanning in viewDidLoad() it might stop the problem, since viewDidLoad is called once, whereas viewWillAppear will be called every time you navigate through the navigation stack (if it is not popped ofcourse).

[2018-01-14 01:10] mikebuss commented on #132
@jaimearanaz I agree with @serjooo, it sounds like the issue is when (and how often) you're calling `startScanning()` and `stopScanning()`. If you can add the boolean (like you suggested) to ensure you're only calling this when you'd expect to, and not as a side-effect of iOS's navigation stack calls, I think that will help fix the issue.

I'm going to close this ticket for now, but if you find th

[2018-01-14 01:10] #132 closed

[2018-01-15 10:48] jaimearanaz commented on #132
ok, thanks guys!
I'll try and let you know

[2018-01-25 16:19] hugobgranja opened #133 "Video quality"
The video quality shown on the MTBBarcodeScanner view is of much lower quality than the one shown on the camera app. Any way to solve this?
Device: iPad Air 2

[2018-01-26 23:03] doughboyks opened #134 "Type of codes?"
I cannot get it to return BOTH barcodes.  This is an EAN13+5 barcode.

![image](https://user-images.githubusercontent.com/8210033/35464286-b9a6c768-02ba-11e8-9e0d-c83ff94bbe58.png)

[2018-01-27 01:46] mikebuss commented on #134
Unfortunately, EAN13+5 is not supported by Apple's AVFoundation framework, so the full code can't be scanned by MTBBarcodeScanner. As you've experienced, only the EAN13 code can be scanned, not the other 5-digit code.

For a full list of codes, see this page:
https://developer.apple.com/documentation/avfoundation/avmetadatamachinereadablecodeobject/machine_readable_object_types?language=objc

[2018-01-27 01:46] #134 closed

[2018-01-27 01:53] mikebuss commented on #133
This library sets the quality to "high" (`AVCaptureSessionPresetHigh`) when it initializes the capture session. At the moment, there's no way to configure that, because it was chosen as a compromise between battery life and ability to scan codes.

To get higher quality, you have a few options: if you'd like, you could submit a pull request making the `sessionPreset` configurable in MTBBarcodeScann

[2018-01-27 01:53] #133 closed

[2018-01-31 13:18] jaimearanaz commented on #132
Hi guys,

Finally, we refactored the view controller to only call startScanning() in viewDidLoad(), and this solved the problem definitely. No crashes reported in Crashlytics with the last release! :)

Thanks for your help!

[2018-01-31 17:29] mikebuss commented on #132
Great, thanks for the update!

[2018-01-31 21:56] serjooo commented on #132
Great to hear that! A non-crashing app is a better app!

[2018-02-19 19:14] LittlePeculiar opened #135 "There are warnings in Xcode 9 - is partial: introduced in iOS 10.0"
I haven't figured out how to fix these myself without changing the code so I thought I'd submit them as an issue. I'm running Xcode 9 and target is 10.3
"is partial: introduced in iOS 10.0"

'AVCapturePhotoSettings'
'AVCaptureResolvedPhotoSettings'
AVCapturePhotoOutput'
'defaultDeviceWithDeviceType:mediaType:position:'
'AVCaptureDeviceTypeBuiltInWideAngleCamera'
'JPEGPhotoDataRepresentationForJPEG

[2018-02-21 00:14] mikebuss commented on #135
Thanks for letting me know. I will take a look at this as soon as I can. I don’t believe this will negatively impact the library in the meantime.

[2018-02-26 17:09] armandsLa opened #136 "Torch mode"
Torch flickers and gets turned off automatically when setting torch mode to `.on`

I've found [issue](https://github.com/mikebuss/MTBBarcodeScanner/issues/54) which describes the same problem, but suggested fix did not help. I also tried to turn on torch from `didStartScanningBlock`, but that didn't help.

Dispatching witch 0.5sec delay from `didStartScanningBlock` worked, but I'm not sure how rel

[2018-02-26 17:18] mikebuss commented on #136
Unfortunately it looks like the AVFoundation will toggle the torch when you initialize the components necessary for scanning barcodes (like the AVCaptureSesson). I will dig into possible solutions for this, but it may be that starting the torch after a short delay is your best bet.

If you have time, I would definitely suggest filing a radar to Apple that AVFoundation shouldn't toggle the torch -

[2018-03-01 19:32] bykrkc opened #137 "MTBBarcodeScanner.m Line : 878 Warning iOS 11.0"
![image](https://user-images.githubusercontent.com/16520480/36865325-42cf92f4-1da0-11e8-9b79-6d5705967407.png)

How can I solve this problem?
Can you help me? Thanks.

[2018-03-02 06:49] armandsLa commented on #136
Thanks for the clarification. I was using version `5.0.3`, latest from cocoapods.  Updated to `5.0.4` but that didn't affect anything.

I will try to look more into this and submit a pull request if I manage to come up with something.

[2018-03-13 14:25] mikebuss commented on #136
I'm going to close this as it's a problem with the underlying AVFoundation framework. I would definitely suggest filing a radar with Apple that starting a scanning session shouldn't flicker the torch. In the meantime, the delay seems like a fine (albeit annoying) workaround.

[2018-03-13 14:25] #136 closed

[2018-03-21 20:41] mattwritescode opened #138 "Not detecting barcodes when in flipped camera mode"
I suspect this is because when you use the front facing camera, everything is a mirror image so the barcodes are reversed. Not sure if there's a real fix for this, but if not, there's no reason to have the flip button in the example.

[2018-03-21 21:16] mikebuss commented on #135
@LittlePeculiar can you elaborate on where you're seeing this in the app? Does this warning appear in the demo project for you? I tried changing the target to iOS 10.3 in Xcode 9.2 but didn't see any of these warnings.

I'm going to close this for now but please feel free to update the issue.

[2018-03-21 21:16] #135 closed

[2018-03-21 21:39] mikebuss commented on #135
I found it! This should be fixed in 900ea36, which will be part of the next release. Thank you!

[2018-03-21 21:39] mikebuss commented on #137
This should be fixed in 900ea36, which will be in the next release. Thank you!

[2018-03-21 21:39] #137 closed

[2018-03-22 00:36] mikebuss commented on #138
What type of barcode are you scanning? The library is able to scan QR codes from the front camera without any issues, for example. Older phones with worse front cameras don't work as well, but modern ones do.

Regardless, since MTBBarcodeScanner is built on top of Apple's AVFoundation, this is not something we can control or improve. So, I'm going to close this. I would recommend filing a radar wi

[2018-03-22 00:36] #138 closed

[2018-03-22 00:43] mattwritescode commented on #138
Right on. Sounds like it’s out of scope for the library. I’m trying to scan
code 128.

On Wed, Mar 21, 2018 at 7:36 PM Mike Buss <notifications@github.com> wrote:

[2018-03-31 12:26] cvaught opened #139 "Camera Not Updating after Orientation Change"
I can't seem to figure out how to get orientation changes to work correctly. In the  viewWillTransitionToSize method I have tried to set the previewLayer.frame as shown below but it hasn't helped.

[code]
The images below show the issue. I have a UIView that I have set the color to red. I then have another UIView that I used to initialize the scanner called previewView that I have set to green. Wh

[2018-04-05 11:48] cvaught commented on #139
I fixed this by updating the viewWillTransitionToSize method to this:

[code]

[2018-04-05 11:48] #139 closed

[2018-04-13 19:27] nyisztor opened #140 "Only works with iOS10+ after recent changes"
Hi,
After pulling to the latest changes I received a lot of warnings like this:

This is a problem since we're still using older iPads that only support iOS 9.

I also understand if you don't plan to support older iOS versions.
But then, please refresh project's description to show that only iOS10+ are supported.

[2018-04-14 00:05] mikebuss commented on #140
Hi @nyisztor. Have you been able to test this on a device running iOS 9? I don't believe the warnings will be an issue, but I don't have an iOS 9 device.

[2018-04-19 13:28] yudiz-mahavir commented on #53
scanRect is not detecting QR Code after changing orientation in iPhone X, I've same code as [example project](https://github.com/mikebuss/MTBBarcodeScanner/commit/b57bb1402a8ae2b9b2202507e43739407da48d08)

Also your demo project is also crashing in iPhone X (`AdvancedExampleVC`)

[2018-04-27 22:25] mikebuss commented on #140
I am going to close this but if someone notices issues with the library running on a physical device running iOS 9 please let me know.

[2018-04-27 22:25] #140 closed

[2018-05-17 09:18] janky opened #141 "Impossible to read CODABAR barcode"
Hello, i'm having trouble reading CODABAR Barcode (also known as USD-4, NW-7, 2 of 7, Ames and Monarch)

They aren't recognized by the library

you can try with this site https://www.free-barcode-generator.net/codabar/

[2018-05-17 12:09] mikebuss commented on #141
This library can only scan codes from this list, as it's built on top of Apple's AVFoundation library:

https://developer.apple.com/documentation/avfoundation/avmetadatamachinereadablecodeobject/machine_readable_object_types

[2018-05-17 12:09] #141 closed

[2018-05-23 00:50] hartjosh opened #142 "Disable rotation"
Is there anyway to disable rotation completely?

[2018-06-12 15:46] bompf opened #143 "Initial camera setting"
Hello,

am I right in saying that the scanner does not currently allow to specify which camera position is to be used after initialization? The `camera` property is set to readonly and exposed setters only work after initial setup has been done. If you switch the camera after setup (using `didStartScanningBlock`), you'll get a noticable flicker of the screen.

The class initializers don't set the

[2018-06-12 16:14] mikebuss commented on #143
Hey @bompf. You are correct: there is no way to set the camera property before scanning. This isn't high on my priority list, but if you'd like to submit a pull request adding this I can take a look.

[2018-06-12 16:14] #143 closed

[2018-07-04 17:16] BadChoice opened #144 "Warnings"
Hi!
There are 13 warnings in the last xcode version,
I can fix them and create a PR, will you merge it and update the pod? or shouldn't I bother...

Thanks!

[2018-07-04 17:29] BadChoice commented on #144
Thank you! that's amazing, as I did some in other projects, and they never said anything

Will do it today/tomorrow

Thanks!

[2018-07-04 17:38] BadChoice commented on #144
Actually, there is just one warning in the project, when in pod I get warnings of things not available before ios 10

Gonna send the PR for that one

[2018-07-04 17:42] #144 closed

[2018-07-04 18:12] mikebuss commented on #144
This is in pod version 5.0.6 now. Thanks!

[2018-08-15 02:53] AlexanderPan opened #146 "StopScanning crash in viewDidDisappear"
[code]

*** Terminating app due to uncaught exception 'NSRangeException', reason: 'Cannot remove an observer <AVCaptureSession> for the key path "changeSeed" from <AVCaptureConnection> because it is not registered as an observer.'

[2018-08-15 14:02] mikebuss commented on #146
@AlexanderPan is it possible that `stopScanning` is being called multiple times?

The first crash is not related to MTBBarcodeScanner. The `changeSeed` key path doesn't exist in this code base. I would investigate that issue first, as it might be what's causing the second issue.

[2018-08-15 14:06] mikebuss commented on #146
@AlexanderPan can you provide a project that demonstrates this crash using MTBBarcodeScanner? Or, modify the example project to demonstrate this crash?

[2018-08-20 03:46] AlexanderPan commented on #146
Find a solution:

[code]

[2018-11-21 11:16] bormisov1 opened #147 "Flutter + Xcode 8.0: 3 errors, 9 warnings"
Hello!
My app uses your library and it can't build with the following output:
[code]
Can you suggest any way I could fix that?

[2019-05-13 18:19] ptsteward commented on #27
@stephenfeather I know I'm late to this party but thank you for that detailed run down of possible codes. Do you have any supporting docs for that? I can't find anything that details VIN's with with more than 17 characters encoded, even though there's obviously cases where the barcode contains more than 17 characters.

[2019-05-18 02:53] stephenfeather commented on #27
USG: https://www.nhtsa.gov/DOT/NHTSA/Rulemaking/Rules/Associated%20Files/VIN_Final_Rule_April_08.pdf

This is how the 17 spaces are to be used to create a valid VIN.  Any chars outside those 17 are extraneous and can be dropped.

[2019-06-10 16:18] MikeMilzz opened #152 "Catalyst Support?"
I've been using and very much appreciating this project for a while. This weekend I installed Catalina and the XCode beta. I was excited to compile my iPad app and see how much work I'll need to do to have a Mac app. After clearing a deprecation issue, I found a few issues in the MTBBarcodeScanner.m file that I'm not surprised exist.

My question is if there are plans to support Catalyst and to ma

[2019-06-10 20:49] mikebuss commented on #152
Thanks Mike. I'd like to rewrite MTBBarcodeScanner in Swift and take advantage of all the new tools, including Catalyst, so that's on the horizon.

I haven't decided how I'm going to handle the existing Objective-C code, and whether the library needs to support iOS versions as old as iOS 8 (as it currently does). I may put the existing code on a separate branch for people who need it, and rewrite

[2019-06-10 20:53] MikeMilzz commented on #152
That's great news Mike. I think a new branch the supports more modern versions is totally appropriate as the current version is very stable and shouldn't need updates for people sticking with older versions of iOS for whatever reason.

I went through and ifdef'd out a few errors that had to do with camera stability and now I (hopefully) only have this one error to work through. I'll update this po

[2019-06-11 00:13] MikeMilzz commented on #152
Turns out I just needed to scroll up a few lines and read your very useful comment
// This method uses methods that are deprecated in iOS 10. We also implement the updated method (captureOutput:didFinishProcessingPhoto:error:), so we can ignore the warning here.

I commented out this whole method and was able to get my app to build and run. My view with the scanner didn't pop-up but at least it co

[2019-06-12 16:24] mijcon commented on #27
Just wanted to add a recent discovery:
I have been finding Hyundai VINs including a trailing hyphen, so yet another variant to watch out for that does not comply with @stephenfeather's Swift snippet.

[2019-08-09 07:39] amoshsueh commented on #5
@jacksonpan Did you find any solution for unprintable characters? I have the same situation, wanna get some help if you are available. Thanks in advanced.

[2019-08-14 01:21] mikebuss commented on #152
@MikeMilzz Glad to hear it compiles. I haven’t been able to tackle Catalyst support yet, and unfortunately it’s pretty low on my priority list. If anyone wants to submit support in the form of a pull request, I can review and merge it in. Otherwise, this feature may not get added.

[2019-08-14 01:21] #152 closed, assigned to mikebuss

[2019-08-16 12:20] Chris533 opened #153 "Maximum of read multiple codes"
Hello Mike, could you tell me please whether reading multiple codes can only support 4 codes at most? I have tested it and can scan up to 4 pieces of qr codes at the same time, thanks a lot!

[2019-08-17 01:26] Chris533 commented on #153
[Apple FAQ: There is a limit of four barcodes per call](https://developer.apple.com/library/archive/technotes/tn2325/_index.html#//apple_ref/doc/uid/DTS40013824-CH1-CAN_AVCAPTUREMETADATAOUTPUT_DETECT_MULTIPLE_2_DIMENSIONAL_BARCODES_IN_A_FRAME_)
[Stackoverflow: detect more than four (4) QR codes](https://stackoverflow.com/questions/19431661/avcapturemetadataoutput-detect-more-than-four-4-qr-codes)

[2019-08-17 01:27] mikebuss commented on #153
Hi @Chris533. Apologies for the slow reply. You’re right: there’s a limit of 4 QR codes at a time. This is a limitation of Apple’s framework.

[2019-08-17 01:27] #153 closed, assigned to nobody

[2019-08-17 01:49] Chris533 commented on #153
That's OK, thanks for the code you created, thanks for your reply, ❤️ I will research other methods.

[2019-09-24 16:15] EEaglehouse commented on #27
I just ran into a Hyundai VIN that includes a slash (/) in position 18. According to standards, that is not a legal US VIN.

[2019-09-24 18:51] EEaglehouse commented on #27
I just ran into a Hyundai VIN that includes a slash (/) in position 18. According to the Wiki page [Vehicle Identification Numbers (VIN codes)/Hyundai/VIN Codes](https://en.wikibooks.org/wiki/Vehicle_Identification_Numbers_(VIN_codes)/Hyundai/VIN_Codes) -- at least as of 2016 -- they add positions 18 and 19, position 19 being used to encode Manufacturing Month.

The 49 CFR Part 565 regulations dic

[2019-09-27 18:52] ayoze opened #154 "Problem configurating scanner with QR and Barcode"
Hello,

I am using this library since years to read lottery tickets barcode (Code128 = AVMetadataObjectTypeCode128Code). It worked since the beginning.
Now, in the same project we are supporting QR codes, so I just added the AVMetadataObjectTypeQRCode to the metadata object types when initializing
`self.scanner = [[MTBBarcodeScanner alloc] initWithMetadataObjectTypes:@[AVMetadataObjectTypeCode128C

[2019-09-27 19:22] mikebuss commented on #154
Hi @ayoze. I tried this and I see what you mean. Can you try something? I was able to get the 128 code you attached to scan if I printed it out, or if I blow it up very large on the screen. It seems to be a bit blurry, which makes it harder to scan.

Adding the QR code type slows down the scanning considerably, especially with the image you linked. So, you may have to hold the camera over the imag

[2019-09-28 14:55] ayoze commented on #154
Hello mike,

thanks for the quick answer. Ok, I'll check in an original (on paper) ticket and let you know as soon as posible. Thanks!

[2019-10-06 02:03] mikebuss commented on #154
I am going to close this issue but if you encounter the problem again please feel free to comment on this ticket. I was able to scan the image above when I printed it out and waited longer than a second or two with the camera pointed at it.

[2019-10-06 02:03] #154 closed, assigned to nobody

[2019-10-06 18:46] ayoze commented on #154
Sorry for the late reply Mike. I was doing some tests this last week. I followed your instructions and improved the scan time by using the scan rect property to a small rectangle. It works perfectly now.

Many thanks!

[2019-10-06 19:14] mikebuss commented on #154
No problem, glad to hear it worked out!

[2019-10-29 09:21] awesomedu opened #155 "output becomes Garbled text"
when I use it to scan, but the output becomes Garbled text, the result is 201909290018$150602008001GB00058F00050005$ÃÉ(2019)¶õ¶û¶àË¹ÊÐ²»¶¯²úÖ¤Ã÷µÚ0008710ｺﾅ, I can I turn the words to right?, thanks very mush.

[2019-10-29 13:39] mikebuss commented on #155
Can you share the QR or barcode you're trying to scan? Thank you.

[2019-10-29 14:01] awesomedu commented on #155
![11111111](https://user-images.githubusercontent.com/28338863/67773848-58e63b80-fa97-11e9-85c9-4fcf1b91e466.jpeg)
this is the QRcode,many thanks for ur reply .

[2019-10-29 14:03] awesomedu commented on #155
I reply u in the mail tool, the QRcode is in the mailbox attachment.many thanks for you repayment

发自我的iPhone

------------------ Original ------------------
From: Mike Buss <notifications@github.com&gt;
Date: Tue,Oct 29,2019 9:39 PM
To: mikebuss/MTBBarcodeScanner <MTBBarcodeScanner@noreply.github.com&gt;
Cc: awesomedu <7277710@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [mikebu

[2019-10-29 14:07] mikebuss commented on #155
Thank you. What is the QR code supposed to say? Can you try creating a new QR code using a website like this? https://www.qr-code-generator.com

[2019-10-29 14:25] awesomedu commented on #155
![2222222222](https://user-images.githubusercontent.com/28338863/67775474-fb072300-fa99-11e9-8826-561e9f4211d9.png)
this is the new QRcode, the right words are in it .

[2019-10-29 14:36] mikebuss commented on #155
I think the issue may be the quality of the original QR code. There seem to be lines going through it that may impact the text. You might try printing out a new QR code to see if that works.

![Screen Shot 2019-10-29 at 10 31 10 AM](https://user-images.githubusercontent.com/1574304/67776899-6075f800-fa37-11e9-8978-60dda7bf056f.png)

[2019-10-29 14:48] awesomedu commented on #155
I view the MTBBarcodeScanner's code , the core code is the AVFoundation's call back "- (void)captureOutput:(AVCaptureOutput *)output didOutputMetadataObjects:(NSArray<__kindof AVMetadataObject *> *)metadataObjects fromConnection:(AVCaptureConnection *)connection",
metadataObject.stringValue is outputstring, problems occured here,  the first pic QRcode seems originally created with GBK encoding , i

[2019-10-29 14:52] mikebuss commented on #155
Because the issue is happening inside of AVFoundation (in the callback you mentioned), I don't think there's anything this library can do to fix the issue. It seems to be happening before the code is returned to MTBBarcodeScanner. In that case, I would recommend filing a radar with Apple: https://feedbackassistant.apple.com

[2019-10-29 15:25] awesomedu commented on #155
NSString *scanOutStr = @"201909290018$150602008001GB00058F00050005$ÃÉ(2019)¶õ¶û¶àË¹ÊÐ²»¶¯²úÖ¤Ã÷µÚ0008710ｺﾅ";
    NSString *cutLastTwoCharacterStr = @"201909290018$150602008001GB00058F00050005$ÃÉ(2019)¶õ¶û¶àË¹ÊÐ²»¶¯²úÖ¤Ã÷µÚ0008710";
    NSString *result = cutLastTwoCharacterStr;//返回的扫描结果
    NSData *data=[cutLastTwoCharacterStr dataUsingEncoding:NSUTF8StringEncoding];
    NSStringEncoding enc = CFS

[2019-11-05 22:37] #155 closed, assigned to mikebuss

[2019-12-17 06:51] sam-moshenko opened #156 "Crash NSInvalidArgumentException *** -[AVCaptureMetadataOutput setMetadataObjectTypes:] Unsupported type found - use -availableMetadataObjectTypes"
I have only one crash in Crashlytics, it is caused by MTBBarcodeScanner and I cannot reproduce it.

MTBBarcodeScanner version: 5.0.11

Crash:

[code]

My code looks like that:

[code]

[2019-12-18 00:08] mikebuss commented on #156
Hi @sam-moshenko. Sorry to hear you had a crash. It looks like the type of code you supplied in setMetadataObjectTypes was not supported by that device or iOS version. The error you received is being thrown by AVFoundation, and I don’t believe it’s specific to MTBBarcodeScanner.

You may try checking if the type you’re specifying is supported (in the array of objects returned by the AVFoundation a

[2019-12-18 00:08] #156 closed, assigned to nobody

[2019-12-18 07:51] sam-moshenko commented on #156
Hi @mikebuss, yes it might be some kind of bug of iOS rather than the library, but the strange thing is that the device is pretty new, and the iOS version is one of the latest.

OS: iOS 13.2.3
Device: iPhone 8 Plus
jailbrake-status: No

[2019-12-18 16:30] mikebuss commented on #156
Are you able to reproduce this when running your app with Xcode? Do you have access to the same hardware and iOS version? If you have steps to reproduce this, that would be helpful for debugging.

[2019-12-28 19:10] AmeerChand opened #157 "when barcode data increased it is difficult to read Code.."
When we increase the length of barcode, it is very difficult to read the bar code from MTBarcodeScanner..
i.e **003** is easy to reader but if we change this like **000000000000000000000000003** then scanner say good bye...

[2019-12-28 19:48] mikebuss commented on #157
The performance of MTBBarcodeScanner is linked to Apple’s AVFoundation framework. For issues like this, I would recommend filing a radar with them. Unfortunately, there’s not much I can do to improve scanning for complicated or long barcodes.

[2019-12-28 19:48] #157 closed, assigned to nobody

[2020-02-18 03:22] stephenfeather commented on #27
Thats just lovely. :(

[2020-03-02 01:42] jpshelley opened #158 "UIView preview has issues during orientation changes"
When using the pod in my own app and the example app on an iPad, whenever I rotate the screen the view itself no longer retains its original constraints. Most of the time it appears to take on padding on the side. I'll upload an image once I am able to later

[2020-03-02 01:45] mikebuss commented on #158
@jpshelley can you try comparing your constraints to those in the sample application included in the Project folder of this repo? If you are able to reproduce this issue in the sample app, that would be helpful for debugging this.

[2020-03-03 17:38] mikebuss commented on #158
I am going to close this issue for now. @jpshelley if you can reproduce this issue in the included demo projects, please feel free to update this ticket. If you are not able to reproduce the issues in the demo project, it's likely an issue with your constraints.

If there's something specific you're trying to achieve, you may want to update the demo projects to see what step introduces the issue.

[2020-03-03 19:31] jpshelley commented on #158
Yes I can reproduce it in the example app even. I'll upload an image/video sometime this week.

[2020-03-05 09:27] bawesto opened #159 "Define Barcodetype in Swift"
Usually restricting the scan to a certain Barcodetype is increasing the Performance.
So I'd like to do that, in my case QR-Code.

It's dokumented for Objective-C Projects in Readme, but I could not figure out how to do that in a Swift3+ Project. Can't find any dokumentation or example.
Is it possible? Could you provide a snipped how to do that?

Many thanks!

[2020-03-05 23:25] ghost commented on #159
You should be able to initialize it with the same initializer as Objective C.
[code]

[2020-03-06 17:56] mikebuss commented on #159
@kmwillia's answer is correct. I will add more Swift examples to the README sometime over the weekend. Thanks for the suggestion @bawesto!

[2020-03-06 19:38] mikebuss commented on #159
I added some examples to the project for this:
https://github.com/mikebuss/MTBBarcodeScanner/commit/e1c89a47ecf8d392b5fc89e27da221c9fb0e0b38

Thank you @bawesto for the suggestion and @kmwillia for the answer!

[2020-03-06 19:38] #159 closed, assigned to nobody

[2020-04-24 14:50] KrupaVachhani opened #160 "Camera Unfreeze method not working on."
Hello there,

After scanning the barcode I set the camera to Freeze cause scanning works too quickly but after some actions, I want to unFreeze that camera. But It Freezes the screen.

[2020-04-24 16:00] mikebuss commented on #160
Are you able to reproduce this issue in the demo project included with this repository? That will help us narrow down if it's something with the library or your code base.

One alternative to freezing the screen would be to only process a barcode if the last barcode was scanned longer than X seconds ago. This will work unless you need to show the screen freezing in the UI.

I will try to reproduce

[2020-05-04 17:17] mikebuss commented on #160
@KrupaVachhani I haven't been able to reproduce this. Please let me know if you are able to reproduce this in the demo project, or if the above suggestion helps.

I am going to close this for now, but please add more details if you can.

[2020-05-04 17:17] #160 closed, assigned to nobody

[2020-05-12 09:22] KrupaVachhani commented on #160
It is solved now. I found another way and that solved my issue.
Thanks for your quick response. :)

[2020-05-12 09:25] KrupaVachhani commented on #160
@mikebuss, It is solved now. I found another way from your demo app project and that solved my issue.
Thanks for your quick response. :)

[2020-05-20 15:25] pkElectronics opened #161 "Unrecognized Barcode Style"
Hi,

I'm currently developing an app based on the Flutter qr_code_scanner package which internally relies on this project for platform specific scanning under iOS.

While testing several different styles of barcodes I stumbled upon a barcode style which the MTBBarcodeScanner is unable to recognize, while the corresponding Android library does.
I attached an image of said barcode, the label contain

[2020-05-20 15:27] #161 closed, assigned to nobody

[2020-05-20 15:28] pkElectronics commented on #161
Forget it,
it works, it's just a bit tricky to get alignment and focus right.

[2020-07-16 16:21] sashahilton00 commented on #158
@mikebuss this issue is indeed present. I have just seen the behaviour on the sample app. You can see the problem in the video uploaded here: [Streamable](https://streamable.com/5sydt9) essentially, the library ceases to recognize codes on an orientation change, requiring a restart of the scanner before it starts recognising again.

[2020-07-16 16:25] mikebuss commented on #158
Thanks @sashahilton00. I'll reopen this and take a look. It may be that you need to supply a new `scanRect` when the orientation changes, but I'll update the ticket with what I find.

[2020-09-29 10:41] LeLunZ opened #162 "Camera unfreeze is corrupting flash"
While using this package I got into a problem while using the flash.

## steps to reproduce

- activate flash
- freeze camera (flash gets deactivated)
- unfreeze camera after a short wait

## What happens now?

The flash should be activated again. (its only flashing for a few milliseconds, then flash is getting deactivated)
Its in a weird state. When calling toogleFlash* again. The flash is still

[2020-09-29 15:52] mikebuss commented on #162
Thanks @LeLunZ. What iOS version are you using and on what device model?

[2020-09-29 16:23] LeLunZ commented on #162
iOS 14.0.1, but also didn’t work in iOS 13.X
Some testing IPhone from our workplace.
I think something between 6s and 8.
Can check it the day after tomorrow.

[2020-10-01 00:32] mikebuss commented on #162
Sorry for the delay @LeLunZ. I am not longer actively maintaining this library, but if anyone reading this has a solution and wants to submit a pull request I will merge it in. Apologies for the inconvenience.

[2020-10-01 00:35] mikebuss commented on #158
Sorry for the delay in responding to this.

I am not longer actively maintaining this library, but if anyone reading this has a solution and wants to submit a pull request I will merge it in. Apologies for the inconvenience.

[2020-11-26 01:46] dayron9110 opened #163 "Getting the bytes raw"
Can I get the bytes raw of the scanned code?

[2021-02-22 03:37] imvasim777 opened #164 "It's crashing on iPad and iPhone after you try to scan QR code."
https://pub.dev/packages/ai_barcode this package is using this library internally and I believe it's somehow related with this package.

Crashed: com.apple.main-thread
0 ai_barcode 0x1061af584 $s10ai_barcode20AiBarcodeScannerViewC19resumeCameraPreviewyyFySbcfU_ySaySo35AVMetadataMachineReadableCodeObjectCGSgcfU_ + 752
1 ai_barcode 0x1061af5c4 $sSaySo35AVMetadataMachineReadableCodeObjectCGSgIegg_So7

[2021-02-22 03:46] imvasim777 commented on #164
@mikebuss Can you please check?

[2021-02-22 03:56] mikebuss commented on #164
Hi @imvasim777. This library is not actively maintained. If you are experiencing issues with it, I would recommend using Apple’s AVFoundation framework directly, which MTBBarcodeScanner is built on top of.

[2021-02-22 03:58] mikebuss commented on #163
There is no way to do this with MTBBarcodeScanner. If you would like to add it, feel free to submit a pull request. Alternatively, you could use AVFoundation to replace this library - that may give you the functionality you need.

[2021-02-22 03:58] #163 closed, assigned to nobody